[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=kttsjobmgrpart
Name[pt_BR]=Componente Ger. de Jobs do Ktts
Name[xx]=xxkttsjobmgrpartxx
Comment=KDE Text-to-speech Job Manager
Comment[bg]=Мениджър на задачите за синтез на глас
Comment[ca]=Gestor de treballs de text a veu de KDE
Comment[cs]=Správce úloh zvukové syntézy KDE
Comment[da]=KDE's Tekst-til-tale Job-håndtering
Comment[de]=KDE Auftragsverwaltung für Sprachausgabe
Comment[es]=Administrador de trabajos del sintetizador de texto a voz de KDE
Comment[et]=KDE teksti kõneks muutmise tööde haldur
Comment[fi]=KDE Teksti puheeksi -töidenhallintaohjelma
Comment[fr]=Gestionnaire de tâches de synthèse vocale pour KDE
Comment[hu]=KDE-s kezelőprogram szövegfelolvasáshoz
Comment[is]=KDE texti-í-tal verkstjóri
Comment[it]=Gestore dei processi di pronuncia di KDE
Comment[nl]=KDE Tekst-tot-spraak-taakbeheer
Comment[pl]=Menedżer zadań KDE Text-to-Speech
Comment[pt]=Gestor de Trabalhos do Texto para Fala do KDE
Comment[pt_BR]=Gerenciador de Trabalhos de Texto para Fala do KDE
Comment[ru]=Управление заданиями по синтезу речи
Comment[sl]=Upravitelj opravil besedila v govor za KDE
Comment[sr]=KDE-ов менаџер послова за текст-у-говор
Comment[sr@Latn]=KDE-ov menadžer poslova za tekst-u-govor
Comment[sv]=KDE:s text-till-tal jobbhantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு பணி மேலாளர்
Comment[tg]=Идоракунии фармоишҳо бо воситаи таҳлили овоз
Comment[tr]=KDE Metinden Konuşmaya Görev Yöneticisi
Comment[uk]=Менеджер завдань KDE для синтезу мовлення з тексту
Comment[xx]=xxKDE Text-to-speech Job Managerxx
ServiceTypes=KParts/ReadOnlyPart
