[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=kttsjobmgrpart
Name[pt_BR]=Componente Ger. de Jobs do Ktts
Comment=KDE Text-to-speech Job Manager
Comment[bg]=Мениджър на задачите за синтез на глас
Comment[ca]=Gestor de treballs de text a veu de KDE
Comment[cs]=Správce úloh zvukové syntézy KDE
Comment[da]=KDE's Tekst-til-tale Job-håndtering
Comment[de]=KDE-Auftragsverwaltung für Sprachausgabe
Comment[el]=KDE διαχειριστής εργασιών κειμένου-σε-ομιλία
Comment[es]=Administrador de trabajos del sintetizador de texto a voz de KDE
Comment[et]=KDE teksti kõneks muutmise tööde haldur
Comment[eu]=KDE-ren testutik-hizketarako lan-kudeatzailea
Comment[fa]=KDE مدیر کار متن به گفتار 
Comment[fi]=KDE Teksti puheeksi -töidenhallintaohjelma
Comment[fr]=Gestionnaire de tâches de synthèse vocale pour KDE
Comment[hu]=KDE-s kezelőprogram szövegfelolvasáshoz
Comment[is]=KDE texti-í-tal verkstjóri
Comment[it]=Gestore dei processi di pronuncia di KDE
Comment[ja]=KDE テキスト読み上げジョブマネージャ
Comment[mk]=Менаџер на задачи во KDE за текст-во-говор
Comment[ms]=Pengurus Kerja Teks-ke-tutur KDE
Comment[nb]=Jobbkontroll for KDE tekst-til-tale
Comment[nds]=KDE-Pleger för Vörleesopgaven
Comment[nl]=KDE Tekst-tot-spraak-taakbeheer
Comment[pa]=KDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਕੰਮ ਮੈਨੇਜਰ
Comment[pl]=Menedżer zadań odczytywania tekstu
Comment[pt]=Gestor de Trabalhos do Texto para Fala do KDE
Comment[pt_BR]=Gerenciador de Trabalhos de Texto para Fala do KDE
Comment[ru]=Управление заданиями по синтезу речи
Comment[sk]=KDE text-na-reč manažér úloh
Comment[sl]=Upravitelj opravil besedila v govor za KDE
Comment[sr]=KDE-ов менаџер послова за текст-у-говор
Comment[sr@Latn]=KDE-ov menadžer poslova za tekst-u-govor
Comment[sv]=KDE:s text-till-tal jobbhantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு பணி மேலாளர்
Comment[tg]=Идоракунии фармоишҳо бо воситаи таҳлили овоз
Comment[tr]=KDE Metinden Konuşmaya Görev Yöneticisi
Comment[uk]=Менеджер завдань KDE для синтезу мовлення з тексту
Comment[vi]=Trình quản lý Tác vụ Văn bản sang Tiếng nói KDE
Comment[zh_TW]=KDE 文字轉語音工作管理員
ServiceTypes=KParts/ReadOnlyPart
