[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=kttsjobmgrpart
Name[x-test]=xxkttsjobmgrpartxx
Comment=KDE Text-to-speech Job Manager
Comment[el]=KDE διαχειριστής εργασιών κειμένου-σε-ομιλία
Comment[fr]=Gestionnaire de tâches de synthèse vocale pour KDE
Comment[x-test]=xxKDE Text-to-speech Job Managerxx
ServiceTypes=KParts/ReadOnlyPart
