[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/Text-to-Speech
Comment=Text-to-Speech Service with a DCOP interface
Comment[bg]=Модул за синтез на глас с интерфейс DCOP
Comment[ca]=Servei de text a veu amb una interfície DCOP
Comment[cy]=Gwasanaeth Testun-i-Lafar efo rhyngwyneb DCOP
Comment[da]=Tekst-til-tale tjeneste med en DCOP grænseflade
Comment[de]=Sprachausgabe-Dienst mit DCOP-Schnittstelle
Comment[es]=Servicio de texto a voz con interfaz DCOP
Comment[et]=Teksti kõneks muutmise teenus DCOP-liidesega
Comment[fr]=Service de synthèse vocale avec une interface DCOP
Comment[ga]=Seirbhís Téacs-go-Caint le comhéadan DCOP
Comment[hu]=Szövegfelolvasó szolgáltatás DCOP-felülettel
Comment[is]=Texti-í-tal þjónusta með DCOP viðmóti
Comment[it]=Servizio di pronuncia con interfaccia DCOP
Comment[nl]=Tekst-tot-spraak-dienst met een DCOP-interface
Comment[pl]=Usługa odczytywania tekstu z interfejsem DCOP
Comment[pt]=Servidor Texto-para-Voz com interface DCOP
Comment[pt_BR]=Serviço de Fala de Textos com uma interface DCOP
Comment[ru]=Сервис синтеза речи через интерфейс DCOP
Comment[sl]=Storitev besedila v govor z vmesnikom DCOP
Comment[sr]=Услуга изговарања текста са DCOP интерфејсом
Comment[sr@Latn]=Usluga izgovaranja teksta sa DCOP interfejsom
Comment[sv]=Text-till-tal tjänst med DCOP-gränssnitt
Comment[ta]=ஒரு DCOP இடைமுகத்தில் உரையில் இருந்து பேச்சு சேவை
Comment[tg]=Бартарафсозии таҳлили овоз ба воситаи интерфейси DCOP
Comment[th]=บริการแปลงข้อความเป็นคำพูดผ่านทาง DCOP
Comment[uk]=Служба синтезу мовлення з тексту із інтерфейсом DCOP
