[Desktop Entry]
Name=KTTSD
Name[hi]=केटीटीएसडी
Name[x-test]=xxKTTSDxx
Name[zh_CN]=K 语音精灵
Name[zh_TW]=KTTSd
Type=ServiceType
X-KDE-ServiceType=KTTSD/SynthPlugin

[PropertyDef::X-KDE-Languages]
Type=QStringList
