[Desktop Entry]
Encoding=UTF-8
Name=KTTSD
Name[x-test]=xxKTTSDxx
Type=ServiceType
X-KDE-ServiceType=KTTSD/SynthPlugin

[PropertyDef::X-KDE-Languages]
Type=QStringList
