[Desktop Entry]
Name=Jovie
Name[bg]=Jovie
Name[ca]=Jovie
Name[ca@valencia]=Jovie
Name[cs]=Jovie
Name[da]=Jovie
Name[de]=Jovie
Name[en_GB]=Jovie
Name[es]=Jovie
Name[et]=Jovie
Name[fr]=Jovie
Name[hu]=Jovie
Name[is]=Jovie
Name[it]=Jovie
Name[ja]=Jovie
Name[ko]=Jovie
Name[nb]=Jovie
Name[nds]=Jovie
Name[nl]=Jovie
Name[nn]=Jovie
Name[pt]=Jovie
Name[pt_BR]=Jovie
Name[ru]=Jovie
Name[sr]=Џови
Name[sr@ijekavian]=Џови
Name[sr@ijekavianlatin]=Džovi
Name[sr@latin]=Džovi
Name[sv]=Jovie
Name[tr]=Jovie
Name[uk]=Jovie
Name[x-test]=xxJoviexx
Name[zh_CN]=Jovie
Name[zh_TW]=Jovie
Type=ServiceType
X-KDE-ServiceType=KTTSD/SynthPlugin

[PropertyDef::X-KDE-Languages]
Type=QStringList
