[Desktop Entry]
Encoding=UTF-8
Name=KTextEditor KTTSD Plugin
Name[bg]=Приставка KTextEditor KTTSD
Name[br]=Lugent KTTSD KTextEditor
Name[bs]=KTextEditor KTTSD dodatak
Name[ca]=Connector pel KTTSD del KTextEditor
Name[cs]=KTextEditor KTTSD modul
Name[de]=KTextEditor KTTSD-Plugin
Name[el]=Πρόσθετο KTextEditor KTTSD
Name[et]=KTextEditor KTTSD plugin
Name[eu]=KTextEditor-en KTTSD plugina
Name[fi]=KTextEditor KTTSD -liitännäinen
Name[fr]=Module KTTSD pour KTextEditor
Name[ga]=Breiseán KTTSD KTextEditor
Name[hu]=KTextEditor KTTSD-modul
Name[is]=KTextEditor KTTSD íforrit
Name[it]=Plugin di KTTSD per KTextEditor
Name[lt]=KTextEditor KTTSD priedas
Name[nb]=KTextEditor tilleggsprogram for KTTSD
Name[nl]=KTextEditor KTTSD-plugin
Name[pl]=Wtyczka KTTSD dla edytora tekstu
Name[pt]='Plugin' KTextEditor do KTTSD
Name[pt_BR]=Plug-in do KTTSD para o KTextEditor
Name[ru]=Модуль KTextEditor для KTTSD
Name[sl]=Vstavek KTTSD za KTextEditor
Name[sr]=KTTSD као прикључак за KTextEditor
Name[sr@Latn]=KTTSD kao priključak za KTextEditor
Name[sv]=KTTSD-insticksprogram för Ktexteditor
Name[ta]=KTextEditor KTTSD சொருகுப்பொருள்
Name[tg]=КМатнМуаллиф KTTSD Модул
Name[uk]=Втулок KTextEditor KTTSD
Comment=Adds a menu entry for speaking the text
Comment[bg]=Добавяне на операция в менюто за изговаряне на текст
Comment[bs]=Dodaje stavku u meniju za čitanje teksta
Comment[ca]=Afegeix una entrada de menú per pronunciar el text
Comment[cs]=Vložení nabídky pro předčítání textu
Comment[da]=Tilføjer et menupunkt for at læse teksten op
Comment[de]=Fügt einen Menüeintrag zum Vorlesen des Textes hinzu
Comment[el]=Προσθέτει μία καταχώρηση στο μενού για τη μετατροπή σε φωνή του κειμένου
Comment[es]=Agregá una entrada al menú para emitir el texto
Comment[et]=Lisab menüükirje teksti kõnelemiseks
Comment[eu]=Testuak ahoskatzeko menuko sarrera bat gehitzen du
Comment[fi]=Lisää valikkovalinnan tekstin puhumiseksi
Comment[fr]=Ajoute une entrée dans le menu pour prononcer le texte
Comment[hu]=Menüpont létrehozása szövegfelolvasáshoz
Comment[is]=Bætir við valmyndarfærslu fyrir tal af textanum
Comment[it]=Aggiunge una voce del menu per pronunciare il testo
Comment[lt]=Prideda meniu įrašą teksto įkalbėjimui
Comment[nb]=Legger til en menyoppføring for å si teksten høyt
Comment[nl]=Voegt een menuoptie toe voor het uitspreken van de tekst
Comment[pl]=Dodaje wpis w menu do mówienia tekstu
Comment[pt]=Adiciona uma entrada de menu para ler o texto
Comment[pt_BR]=Adiciona uma entrada no menu para falar o texto
Comment[ru]=Добавляет меню синтеза речи
Comment[sl]=Dodaj menijski vnos za govorjenje besedila
Comment[sr]=Додаје ставку менија за изговарање текста
Comment[sr@Latn]=Dodaje stavku menija za izgovaranje teksta
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[ta]=உரையை பேசுவதற்கு ஒரு பட்டியல் உள்ளிட்டை சேர்க்கிறது
Comment[tg]=Якҷо мекунад менюи даромаданро барои гуфтани матн
Comment[uk]=Додає елемент меню для декламування тексту
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kttsd
X-Kate-Version=2.2
MimeType=text/plain
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
