<!DOCTYPE kpartgui>
<kpartplugin name="ktexteditor_kttsd" library="ktexteditor_kttsd" version="1">
    <MenuBar>
        <Menu name="tools"><Text>&amp;Tools</Text>
            <Action name="tools_kttsd" />
        </Menu>
    </MenuBar>
    <Toolbar name="speechToolBar"><text>Speech Toolbar</text>
        <Action name="tools_kttsd" />
    </Toolbar>
</kpartplugin>
