[Desktop Entry]
Encoding=UTF-8
Name=KTextEditor KTTSD Plugin
Name[bg]=Приставка KTextEditor KTTSD
Name[et]=KTextEditor KTTSD plugin
Name[ga]=Breiseán KTTSD KTextEditor
Name[is]=KTextEditor KTTSD íforrit
Name[it]=Plugin di KTTSD per KTextEditor
Name[pt]='Plugin' KTextEditor do KTTSD
Name[pt_BR]='Plugin' KTextEditor do KTTSD
Name[ru]=Модуль KTextEditor для KTTSD
Name[sv]=KTTSD-insticksprogram för Ktexteditor
Name[ta]=KTextEditor KTTSD சொருகுப்பொருள்
Name[uk]=Втулок KTextEditor KTTSD
Comment=Adds a menu entry for speaking the text
Comment[bg]=Добавяне на операция в менюто за изговаряне на текст
Comment[da]=Tilføjer et menupunkt for at læse teksten op
Comment[et]=Lisab menüükirje teksti kõnelemiseks
Comment[is]=Bætir við valmyndarfærslu fyrir tal af textanum
Comment[it]=Aggiunge una voce del menu per pronunciare il testo
Comment[pt]=Adiciona uma entrada de menu para ler o texto
Comment[pt_BR]=Adiciona uma entrada de menu para ler o texto
Comment[ru]=Добавляет меню синтеза речи
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[ta]=உரையை பேசுவதற்கு ஒரு பட்டியல் உள்ளிட்டை சேர்க்கிறது
Comment[uk]=Додає елемент меню для декламування тексту
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kttsd
X-Kate-Version=2.2
MimeType=text/plain
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
