[Desktop Entry]
Type=Service
Exec=kitty
Icon=preferences-desktop-text-to-speech
ServiceTypes=DBUS/Text-to-Speech
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=KITTY
Name[x-test]=xxKITTYxx
Comment=KDE Text To Speech Service
Comment[x-test]=xxKDE Text To Speech Servicexx
Categories=Qt;KDE;Utility;Accessibility;
