[Desktop Entry]
Encoding=UTF-8
Name=Epos TTS Synthesis System
Name[ca]=Sistema de síntesi Epos TTS
Name[cs]=Epos TTS
Name[da]=Epos TTS Synthesis-system
Name[de]=Epos TTS-Synthese-System
Name[el]=Σύστημα σύνθεσης Epos TTS
Name[es]=Sistema de síntesis Epos TTS
Name[et]=Kõnesünteesisüsteem Epos TTS
Name[eu]=Epos TTS sintesi-sistema
Name[fa]=سیستم ترکیب‌دهی Epos TTS
Name[fi]=Epos TTS -syntetisoijasysteemi
Name[fr]=Système de synthèse Epos TTS
Name[ga]=Córas Sintéise TTS Epos
Name[gl]=Sistema de Síntese de TTS Epos
Name[hu]=Epos szövegfelolvasó motor
Name[it]=Sistema di sintesi TTS Epos
Name[ja]=Epos TTS シンセサイズシステム
Name[km]=ប្រព័ន្ធ​សង្គ្រោះ Epos TTS
Name[mk]=Epos TTS систем за синтеза
Name[ms]=Sistem Sintesis Epos TTS
Name[nb]=Epos TTT syntesesystem
Name[nds]=Epos Blicksnuut
Name[nl]=Epos TTS Synthesis-systeem
Name[pa]=Epos TTS ਸੰਸਲੇਸ਼ਣ ਸਿਸਟਮ
Name[pl]=System syntezy mowy Epos
Name[pt]=Sistema de Síntese Epos TTS
Name[pt_BR]=Sistema de Sintetizador de Fala Epos
Name[sk]=Epos TTS Synthesis systém
Name[sl]=Sistem sinteze besedila v govor Epos
Name[sr]=Систем за синтезу Epos TTS
Name[sr@Latn]=Sistem za sintezu Epos TTS
Name[sv]=Epos TTS syntessystem
Name[ta]=Epos TTS கூட்டிணைப்பு அமைப்பு
Name[tg]=Системаи Синтезиси Epos TTS
Name[tr]=Epos TTS Bireşim Sistemi
Name[vi]=Hệ thống Tổng hợp Văn bản sang Tiếng nói Epos
Name[zh_TW]=Epos TTS 合成系統
Comment=Epos TTS speech synthesizer
Comment[bg]=Синтезатор на глас Epos TTS
Comment[ca]=Sintetitzador de veu Epos TTS
Comment[cs]=Hlasový syntetizér Epos TTS
Comment[da]=Epos TTS tale-synthesizer
Comment[de]=Epos TTS-Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας Epos TTS
Comment[es]=Sintetizador de texto a voz Epos TTS
Comment[et]=Kõnesüntesaator Epos TTS
Comment[eu]=Epos TTS hizketa-sintetizadorea
Comment[fa]=ترکیب‌دهندۀ گفتار Epos TTS
Comment[fi]=Epos TTS -puhesyntetisaattori
Comment[fr]=Synthèse vocale Epos TTS
Comment[ga]=Sintéiseoir cainte TTS Epos
Comment[gl]=Sintetizador de fala TTS Epos
Comment[hu]=Epos TTS beszédszintetizátor
Comment[is]=Epos TTS talgerfill
Comment[it]=Sintetizzatore vocale TTS Epos
Comment[ja]=Epos TTS スピーチシンセサイザ
Comment[km]=កម្មវិធី​សង្គ្រោះ​ការនិយាយ Epos TTS
Comment[mk]=Epos TTS синтетизатор на говор
Comment[ms]=Pensintesis tutur Epos TTS
Comment[nb]=Epos TTT talesyntetisering
Comment[nds]=Blicksnuut vun Epos
Comment[nl]=Epos TTS spraaksynthesizer
Comment[pa]=Epos TTS ਬੋਲੀ ਸੰਸਲੇਸ਼ਣ
Comment[pl]=Syntezator mowy Epos
Comment[pt]=O sintetizador de fala Epos TTS
Comment[pt_BR]=Sistema de Sintetizador de Fala Epos
Comment[ru]=Синтезатор речи Epos TTS
Comment[sk]=Epos TTS rečový syntezátor
Comment[sl]=Sintetizator besedila v govor Epos
Comment[sr]=Синтетизатор говора Epos TTS
Comment[sr@Latn]=Sintetizator govora Epos TTS
Comment[sv]=Epos TTS talsyntes
Comment[ta]=Epos TTS பேச்சு கூட்டிணைப்பான்
Comment[tg]=Таҳлилгари овози Epos TTS
Comment[uk]=Синтезатор мовлення Epos TTS
Comment[vi]=Trình tổng hợp Văn bản sang Tiếng nói Epos
Comment[zh_TW]=Epos TTS 語音合成器
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_eposplugin
X-KDE-Languages=cs,sk
