[Desktop Entry]
Encoding=UTF-8
Name=Epos TTS Synthesis System
Name[ca]=Sistema de síntesi Epos TTS
Name[da]=Epos TTS Synthesis-system
Name[de]=Epos TTS-Synthese-System
Name[es]=Sistema de síntesis Epos TTS
Name[et]=Kõnesünteesisüsteem Epos TTS
Name[fi]=Epos TTS -syntetisoijasysteemi
Name[fr]=Système de synthèse Epos TTS
Name[hu]=Epos szövegfelolvasó motor
Name[it]=Sistema di sintesi TTS Epos
Name[nl]=Epos TTS Synthesis-systeem
Name[pl]=System syntezy TTS Epos
Name[pt]=Sistema de Síntese Epos TTS
Name[pt_BR]=Sistema de Sintetizador de Fala Epos
Name[sl]=Sistem sinteze besedila v govor Epos
Name[sr]=Систем за синтезу Epos TTS
Name[sr@Latn]=Sistem za sintezu Epos TTS
Name[sv]=Epos TTS syntessystem
Name[ta]=Epos TTS கூட்டிணைப்பு அமைப்பு
Name[xx]=xxEpos TTS Synthesis Systemxx
Comment=Epos TTS speech synthesizer
Comment[bg]=Синтезатор на глас Epos TTS
Comment[ca]=Sintetitzador de veu Epos TTS
Comment[da]=Epos TTS tale-synthesizer
Comment[de]=Epos TTS-Sprachsynthesizer
Comment[es]=Sintetizador de texto a voz Epos TTS
Comment[et]=Kõnesüntesaator Epos TTS
Comment[fi]=Epos TTS -puhesyntetisaattori
Comment[fr]=Synthèse vocale Epos TTS
Comment[hu]=Epos TTS beszédszintetizátor
Comment[is]=Epos TTS talgerfill
Comment[it]=Sintetizzatore vocale TTS Epos
Comment[nl]=Epos TTS spraaksynthesizer
Comment[pl]=Syntezator mowy Epos
Comment[pt]=O sintetizador de fala Epos TTS
Comment[pt_BR]=Sistema de Sintetizador de Fala Epos
Comment[ru]=Синтезатор речи Epos TTS
Comment[sl]=Sintetizator besedila v govor Epos
Comment[sr]=Синтетизатор говора Epos TTS
Comment[sr@Latn]=Sintetizator govora Epos TTS
Comment[sv]=Epos TTS talsyntes
Comment[ta]=Epos TTS பேச்சு கூட்டிணைப்பான்
Comment[uk]=Синтезатор мовлення Epos TTS
Comment[xx]=xxEpos TTS speech synthesizerxx
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_eposplugin
X-KDE-Languages=cs,sk
