[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTTSD/AudioPlugin
Comment=Audio Plugin for KTTSD
Comment[br]=Lugent klevet evit KTTSD
Comment[ca]=Connector d'àudio pel KTTSD
Comment[cs]=Zvukový modul KTTSD
Comment[da]=Lyd-plugin for KTTSD
Comment[de]=Audio-Modul für KTTSD
Comment[el]=Πρόσθετο ήχου για το KTTSD
Comment[es]=Extensión de audio para KTTSD
Comment[et]=KTTSD audioplugin
Comment[eu]=KTTSD-ren audio plugnka
Comment[fa]=وصلۀ صوتی برای KTTSD
Comment[fi]=Ääniliitännäinen KTTSD-ohjelmalle
Comment[fr]=Module audio pour KTTSD
Comment[ga]=Breiseán fuaime KTTSD
Comment[gl]=Plugin de Áudio para KTTSD
Comment[hu]=Hangmodul a KTTSD szolgáltatáshoz
Comment[is]=Hljóð íforrit fyrir KTTSD
Comment[it]=Plugin audio per KTTSD
Comment[ja]=KTTSD 用オーディオプラグイン
Comment[km]=​កម្មវិធី​ជំនួយ​អូឌីយ៉ូ​សម្រាប់​ KTTSD
Comment[mk]=Аудиоприклучок за KTTSD
Comment[ms]=Plugin Audio bagi KTTSD
Comment[nb]=Lyd-programtillegg for KTTSD
Comment[nds]=Audiomoduul för KTTSD
Comment[ne]=KTTSD का लागि अडियो प्लगइन
Comment[nl]=Audio-plugin voor KTTSD
Comment[pa]=KTTSD ਲਈ ਆਡੀਓ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka dźwięku dla KTTSD
Comment[pt]='Plugin' Áudio para o KTTSD
Comment[pt_BR]=Plug-in de áudio para o KTTSD
Comment[ru]=Модуль вывода звука KTTSD
Comment[sl]=Vstavek KTTSD za zvok
Comment[sr]=Аудио прикључак за KTTSD
Comment[sr@Latn]=Audio priključak za KTTSD
Comment[sv]=Ljudinsticksprogram för KTTSD
Comment[ta]= KTTSDக்கான கேட்பொலி சொருகுப்பொருள்
Comment[tg]=Модули барориши овози KTTSD
Comment[tr]=KTTS için Ses Eklentisi
Comment[uk]=Звуковий втулок для KTTSD
Comment[x-test]=xxAudio Plugin for KTTSDxx
Comment[zh_TW]=KTTSd 語音外掛程式
