[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTTSD/AudioPlugin
Comment=Audio Plugin for KTTSD
Comment[el]=Πρόσθετο ήχου για το KTTSD
Comment[fr]=Module audio pour KTTSD
Comment[x-test]=xxAudio Plugin for KTTSDxx
