[Desktop Entry]
Encoding=UTF-8
Name=KTTSD ALSA Plugin
Name[da]=KTTSD ALSA plugin
Name[ga]=Breiseán KTTSD ALSA
Name[pa]=KTTSD ALSA ਪਲੱਗਿੰਨ
Comment=KTTSD ALSA audio plugin
Comment[bg]=Аудио приставка на KTTSD за ALSA
Comment[da]=KTTSD ALSA lyd-plugin
Comment[ga]=Breiseán fuaime KTTSD ALSA
Comment[pa]=KTTSD ALSA ਆਡੀਓ ਪਲੱਗਿੰਨ
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_alsaplugin
