[Desktop Entry]
Encoding=UTF-8
Name=KTTSD ALSA Plugin
Comment=KTTSD ALSA audio plugin
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_alsaplugin
