[Desktop Entry]
Encoding=UTF-8
Name=Festival
Name[ta]=பெஸ்டிவல்
Comment=Festival speech synthetizer
Comment[bg]=Синтезатор на глас Festival
Comment[da]=Festival tale-synthetizer
Comment[hu]=Festival beszédszintetizátor
Comment[nl]=Festival spraaksynthetizer
Comment[pt]=O sintetizador de fala Festival
Comment[pt_BR]=O sintetizador de fala Festival
Comment[ru]=Синтез речи с помощью движка Festival
Comment[sv]=Festival talsyntes
Comment[ta]=பெஸ்டிவல் பேச்சு கூட்டிணைப்பான்
Comment[uk]=Синтезатор мовлення Festival
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_festivalplugin
X-KDE-Languages=en,en_US,en_GB,es,cy
