[Desktop Entry]
Name=Sentence Boundary Detector
Name[ar]=مكتشف حدود الجملة
Name[bg]=Детектор на изречения
Name[ca]=Detector de límit de frase
Name[cs]=Zjištění vět
Name[da]=Grænsedetektor for sætninger
Name[de]=Satzgrenzenerkennung
Name[el]=Ανιχνευτής ορίων πρότασης
Name[es]=Detector de final de frase
Name[et]=Lausepiiri tuvastaja
Name[eu]=Esaldien mugen detektorea
Name[fa]=آشکارساز کرانۀ جمله
Name[fi]=Lauserajojen tunnistin
Name[fr]=Détecteur de fins de phrases
Name[ga]=Brathadóir Teorainneacha Abairtí
Name[gl]=Detector de límite de frases
Name[hi]=वाक्य सीमा पहचानकर्ता
Name[hu]=Mondathatár-detektáló
Name[is]=Setningamarka greinir
Name[it]=Rilevatore del limite delle frasi
Name[ja]=センテンスの境界検出
Name[km]= ឧបករណ៍​ចាប់​ព្រំដែន​ប្រយោគ
Name[ko]=문장 경계 검사기
Name[ku]=Têgihîştî ya Sînorê Hevokê
Name[lt]=Sakinio ribų aptikiklis
Name[lv]=Teikuma robežu noteicējs
Name[mk]=Детектор на граница на реченица
Name[ml]=വാക്യ‌പരിധി നിരീക്ഷകന്‍
Name[ms]=Pengesan Sempadan Ayat
Name[nb]=Finner setningsgrenser
Name[nds]=Satzgrenz-Faststellen
Name[ne]=वाक्य सीमा अन्वेषक
Name[nl]=Zingrensdetectie
Name[nn]=Finn setningsgrenser
Name[pa]=ਸਤਰ ਅੰਤ ਖੋਜਕਾਰ
Name[pl]=Wykrywanie granicy zdania
Name[pt]=Detector de Limites de Frases
Name[pt_BR]=Detector de fim de sentença
Name[ro]=Detector sfîrșit de propoziție
Name[ru]=Определитель границ предложения
Name[sk]=Detekcia okraja vety
Name[sl]=Detektor meje stavkov
Name[sv]=Meningsgränsdetektering
Name[ta]=வாக்கிய பவுண்டரி கண்டுபிடிப்பான்
Name[tg]=Муайянсозии ҳудуди ҷумлаҳо
Name[tr]=Cümle Sınırlama Algılayıcı
Name[uk]=Виявлення меж речень
Name[vi]=Trình nhận dạng Ranh giới Câu văn
Name[x-test]=xxSentence Boundary Detectorxx
Name[zh_CN]=语句分界检测器
Name[zh_TW]=句子界限偵測器
Comment=Sentence Boundary Detection Filter Plugin for KTTS
Comment[ar]=ملحق تصفية مكتشف حدود الجملة لـ KTTS
Comment[bg]=Приставка филтър за определяне границите на изречението
Comment[ca]=Connector del filtre detector de límit de frase pel KTTS
Comment[cs]=Modul filtru zjišťování vět KTTS
Comment[da]=Grænsedetektor for sætninger, filter-plugin for KTTS
Comment[de]=Generisches KTTS-Modul zur Erkennung von Satzgrenzen
Comment[el]=Φίλτρο πρόσθετο ανίχνευσης ορίων πρότασης για το KTTS
Comment[es]=Complemento de filtro detector de final de frases para KTTS
Comment[et]=KTTS-i lausepiiri tuvastamise filtri plugin
Comment[eu]=KTTS-ren esaldien mugen detektorearen iragazkien plugina
Comment[fa]=وصلۀ پالایۀ آشکارسازی کرانۀ جمله برای KTTS
Comment[fi]=KTTS-ohjelman liitännäinen, joka tunnistaa lauseiden rajat
Comment[fr]=Module de filtrage de fins de phrases pour KTTS
Comment[ga]=Brathadóir Teorainneacha Abairtí i mBreiseán KTTS
Comment[gl]=Extensiónn cun filtro de detección de limiares de frases para KTTS
Comment[hi]=केटीटीएस के लिए पाठ सीमा पहचानकर्ता फ़िल्टर प्लगइन
Comment[hu]=Mondatvég-detektáló szűrőmodul a KTTS-hez
Comment[is]=Setningamarka greinasía fyrir KTTS
Comment[it]=Plugin per il filtro di rilevazione del limite delle frasi per KTTS
Comment[ja]=KTTS 用センテンスの境界検出フィルタプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​ឧបករណ៍​ចាប់​ព្រំដែន​ប្រយោគ​សម្រាប់ KTTS
Comment[ko]=KTTS 문장 경계 검사 필터 플러그인
Comment[ku]=Pêveka Parzûna Têgihîştina Sînorê Hevokê ji bo KTTS
Comment[lt]=Sakinio ribų aptikiklio filtro priedas, skirtas KTTS
Comment[lv]=Teikuma robežu noteicēja filtra spraudnis priekš KTTS
Comment[mk]=Филтер за KTTS за детекција на границата на реченица
Comment[ml]=കെടിടിഎസ്സിന്റെ വാക്യ‌പരിധി നിരീക്ഷണത്തിനുള്ള അരിപ്പസംയോജകം
Comment[ms]=Plugin Penapis Pengesan Sempadan Ayat bagi KTTS
Comment[nb]=Programtillegg for KTTS som finner setningsgrenser
Comment[nds]=KTTS-Filtermoduul för dat Faststellen vun Satzgrenzen
Comment[ne]=KTTS का लागि वाक्य सीमा अनुसन्धान फिल्टर
Comment[nl]=Zingrensdetectieplugin voor KTTS
Comment[nn]=Programtillegg for KTTS som finn setningsgrenser
Comment[pa]=KTTS ਲਈ ਵਾਕ ਅੰਤ ਖੋਜ ਫਿਲਟਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka filtra wykrywania granicy zdania dla KTTS
Comment[pt]='Plugin' do Filtro de Detecção de Limites de Frases para o KTTS
Comment[pt_BR]=Plug-in do filtro de detecção de fim de sentença para o KTTS
Comment[ru]=Фильтр границ предложения для KTTS
Comment[sk]=Modul filtra pre detekciu okraja vety v KTTS
Comment[sl]=Filtrni vstavek KTTS za zanavanje mej stavka
Comment[sv]=Insticksprogram för KTTS med filter för meningsgränsdetektering
Comment[ta]=KTTSக்கான வாக்கிய கண்டறி அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри ҳудуди ҷумлаҳо барои KTTS
Comment[tr]=KTTS için Cümle Sınırlama Algılayıcı Süzgeci Eklentisi
Comment[uk]=Втулок фільтра виявлення меж для KTTS
Comment[vi]=Trình bổ sung Lọc Nhận dạng Ranh giới Câu văn cho KTTS
Comment[x-test]=xxSentence Boundary Detection Filter Plugin for KTTSxx
Comment[zh_CN]=KTTS 语句分界检测过滤插件
Comment[zh_TW]=KTTS 使用的偵測句子是否已結束的外掛程式
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_sbdplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
