[Desktop Entry]
Encoding=UTF-8
Name=Sentence Boundary Detector
Name[ca]=Detector de límit de frase
Name[cs]=Zjištění vět
Name[da]=Grænsedetektor for sætninger
Name[de]=Satzgrenzenerkennung
Name[el]=Ανιχνευτής ορίων πρότασης
Name[es]=Detector de final de frase
Name[et]=Lausepiiri tuvastaja
Name[eu]=Esaldien mugen detektorea
Name[fa]=آشکارساز کرانۀ جمله
Name[fi]=Lauserajojen tunnistin
Name[fr]=Détecteur de fins de phrases
Name[ga]=Brathadóir Teorainneacha Abairtí
Name[gl]=Detector de Límite de Frases
Name[hu]=Mondathatár-detektáló
Name[is]=Setningamarka greinir
Name[it]=Rilevatore del limite delle frasi
Name[ja]=センテンスの境界検出
Name[km]= ឧបករណ៍​ចាប់​ព្រំដែន​ប្រយោគ
Name[lt]=Sakinio ribų aptikiklis
Name[mk]=Детектор на граница на реченица
Name[ms]=Pengesan Sempadan Ayat
Name[nb]=Finner setningsgrenser
Name[nds]=Satzgrenz-Faststellen
Name[ne]=वाक्य सीमा संसूचक
Name[nl]=Zingrensdetectie
Name[pa]=ਸਤਰ ਅੰਤ ਖੋਜਕਾਰ
Name[pl]=Wykrywanie granicy zdania
Name[pt]=Detector de Limite de Frase
Name[pt_BR]=Detector de Limite de Frase
Name[ru]=Определитель границ предложения
Name[sl]=Detektor meje stavkov
Name[sr]=Детектор граница реченице
Name[sr@latin]=Detektor granica rečenice
Name[sv]=Meningsgränsdetektering
Name[ta]=வாக்கிய பவுண்டரி கண்டுபிடிப்பான்
Name[tg]=Муайянсозии ҳудуди ҷумлаҳо
Name[tr]=Cümle Sınırlama Algılayıcı
Name[uk]=Виявлення меж речень
Name[x-test]=xxSentence Boundary Detectorxx
Name[zh_TW]=句子界限偵測器
Comment=Sentence Boundary Detection Filter Plugin for KTTS
Comment[ca]=Connector del filtre detector de límit de frase pel KTTS
Comment[cs]=Modul filtru zjišťování vět KTTS
Comment[da]=Grænsedetektor for sætninger, filter-plugin for KTTS
Comment[de]=Generisches KTTS-Modul zur Erkennung von Satzgrenzen
Comment[el]=Φίλτρο πρόσθετο ανίχνευσης ορίων πρότασης για το KTTS
Comment[es]=Filtro detector de final de frases para KTTS
Comment[et]=KTTS-i lausepiiri tuvastamise filtri plugin
Comment[eu]=KTTS-ren esaldien mugen detektorearen iragazkien plugina
Comment[fa]=وصلۀ پالایۀ آشکارسازی کرانۀ جمله برای KTTS
Comment[fi]=Lauserajojen tunnistussuodatin liitännäinen KTTS-ohjelmalle
Comment[fr]=Module de filtrage de fins de phrases pour KTTS
Comment[gl]=Plugin de Filtro Detector de Límite de Frases para KTTS
Comment[hu]=Mondatvég-detektáló szűrőmodul a KTTS-hez
Comment[is]=Setningamarka greinasía fyrir KTTS
Comment[it]=Plugin per il filtro di rilevazione del limite delle frasi per KTTS
Comment[ja]=KTTS 用センテンスの境界検出フィルタプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​ឧបករណ៍​ចាប់​ព្រំដែន​ប្រយោគ​សម្រាប់ KTTS
Comment[lt]=Sakinio ribų aptikiklio filtro priedas, skirtas KTTS
Comment[mk]=Филтер за KTTS за детекција на границата на реченица
Comment[ms]=Plugin Penapis Pengesan Sempadan Ayat bagi KTTS
Comment[nb]=Programtillegg for KTTS som finner setningsgrenser
Comment[nds]=KTTS-Filtermoduul för dat Faststellen vun Satzgrenzen
Comment[ne]=KTTS का लागि वाक्य सीमा पत्ता लगाउने फिल्टर
Comment[nl]=Zingrensdetectieplugin voor KTTS
Comment[pa]=KTTS ਲਈ ਵਾਕ ਅੰਤ ਖੋਜ ਫਿਲਟਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka filtra wykrywania granicy zdania dla KTTS
Comment[pt]='Plugin' de Filtro de Detecção de Limite de Frase para o KTTS
Comment[pt_BR]='Plugin' de Filtro de Detecção de Limite de Frase para o KTTS
Comment[ru]=Фильтр границ предложения для KTTS
Comment[sl]=Filtrni vstavek KTTS za zanavanje mej stavka
Comment[sr]=Филтерски прикључак KTTS-а за откривање граница реченице
Comment[sr@latin]=Filterski priključak KTTS-a za otkrivanje granica rečenice
Comment[sv]=Insticksprogram för KTTS med filter för meningsgränsdetektering
Comment[ta]=KTTSக்கான வாக்கிய கண்டறி அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри ҳудуди ҷумлаҳо барои KTTS
Comment[tr]=KTTS için Cümle Sınırlama Algılayıcı Süzgeci Eklentisi
Comment[uk]=Втулок фільтра виявлення меж для KTTS
Comment[x-test]=xxSentence Boundary Detection Filter Plugin for KTTSxx
Comment[zh_TW]=KTTS 使用的偵測句子是否已結束的外掛程式
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_sbdplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
