[Desktop Entry]
Encoding=UTF-8
Name=Sentence Boundary Detector
Name[x-test]=xxSentence Boundary Detectorxx
Comment=Sentence Boundary Detection Filter Plugin for KTTS
Comment[x-test]=xxSentence Boundary Detection Filter Plugin for KTTSxx
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_sbdplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
