[Desktop Entry]
Encoding=UTF-8
Name=FreeTTS
Comment=FreeTTS speech synthesizer
Comment[bg]=Синтезатор на глас FreeTTS
Comment[da]=FreeTTS tale-synthesizer
Comment[hu]=FreeTTS beszédszintetizátor
Comment[nl]=FreeTTS spraaksynthesizer
Comment[pt]=O sintetizador de fala FreeTTS
Comment[pt_BR]=O sintetizador de fala FreeTTS
Comment[ru]=Синтез речи с помощью движка FreeTTS
Comment[sv]=FreeTTS talsyntes
Comment[ta]=FreeTTS பேச்சு கூட்டிணைப்பான்
Comment[uk]=Синтезатор мовлення FreeTTS
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_freettsplugin
X-KDE-Languages=en,en_US,en_GB
