[Desktop Entry]
Name=FreeTTS
Name[ar]=نص-إلى-صوت المجاني
Name[be]=FreeTTS
Name[bg]=FreeTTS
Name[br]=FreeTTS
Name[ca]=FreeTTS
Name[cs]=FreeTTS
Name[da]=FreeTTS
Name[de]=FreeTTS
Name[el]=FreeTTS
Name[en_GB]=FreeTTS
Name[es]=FreeTTS
Name[et]=FreeTTS
Name[eu]=FreeTTS
Name[fi]=FreeTTS
Name[fr]=FreeTTS
Name[ga]=FreeTTS
Name[gl]=FreeTTS
Name[hi]=फ्रीटीटीएस
Name[hne]=फ्रीटीटीएस
Name[hu]=FreeTTS
Name[is]=FreeTTS
Name[it]=FreeTTS
Name[ja]=FreeTTS
Name[km]=FreeTTS
Name[ko]=FreeTTS
Name[ku]=FreeTTS
Name[lt]=FreeTTS
Name[lv]=FreeTTS
Name[mk]=FreeTTS
Name[ml]=ഫ്രീ ടിടിഎസ്
Name[ms]=FreeTTS
Name[nb]=FreeTTS
Name[nds]=FreeTTS
Name[ne]=FreeTTS
Name[nl]=FreeTTS
Name[nn]=FreeTTS
Name[pa]=FreeTTS
Name[pl]=FreeTTS
Name[pt]=FreeTTS
Name[pt_BR]=FreeTTS
Name[ro]=FreeTTS
Name[ru]=FreeTTS
Name[sk]=FreeTTS
Name[sl]=FreeTTS
Name[sr]=ФриТТС
Name[sr@latin]=FreeTTS
Name[sv]=FreeTTS
Name[ta]=FreeTTS
Name[tg]=FreeTTS
Name[tr]=FreeTTS
Name[uk]=FreeTTS
Name[vi]=Văn bản sang Tiếng nói Tự do
Name[x-test]=xxFreeTTSxx
Name[zh_CN]=FreeTTS
Name[zh_TW]=FreeTTS
Comment=FreeTTS speech synthesizer
Comment[ar]=محلل نطق نص-إلى-صوت المجاني
Comment[bg]=Синтезатор на глас FreeTTS
Comment[ca]=Sintetitzador de veu FreeTTS
Comment[cs]=Hlasový syntetizér FreeTTS
Comment[da]=FreeTTS tale-synthesizer
Comment[de]=FreeTTS Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας FreeTTS
Comment[en_GB]=FreeTTS speech synthesizer
Comment[es]=Sintetizador de voz FreeTTS
Comment[et]=Kõnesüntesaator FreeTTS
Comment[eu]=FreeTTS hizketa-sintetizadorea
Comment[fa]=ترکیب‌دهندۀ گفتار FreeTTS
Comment[fi]=FreeTTS-puhesyntetisaattori
Comment[fr]=Synthèse vocale FreeTTS
Comment[ga]=Sintéiseoir cainte FreeTTS
Comment[gl]=Sintetizador de voz FreeTTS
Comment[hi]=फ्रीटीटीएस स्पीच सिंथेसाइजर
Comment[hne]=फ्रीटीटीएस स्पीच सिंथेसाइजर
Comment[hu]=FreeTTS beszédszintetizátor
Comment[is]=FreeTTS talgerfill
Comment[it]=Sintetizzatore vocale FreeTTS
Comment[ja]=FreeTTS スピーチシンセサイザー
Comment[km]=កម្មវិធី​សង្គ្រោះ​ការនិយាយ FreeTTS
Comment[ko]=FreeTTS 음성 합성기
Comment[ku]=FreeTTS yekkerê axaftinê
Comment[lv]=FreeTTS runas sintezators
Comment[mk]=FreeTTS синтетизатор на говор
Comment[ml]=ഫ്രീ ടിടിഎസ് സംസാരസങ്കലനോപാധി‍
Comment[ms]=Pensintesis tutur FreeTTS
Comment[nb]=FreeTTS talesyntetisering
Comment[nds]=Blicksnuut FreeTTS
Comment[ne]=FreeTTS संवाद सिन्थेसाइजर
Comment[nl]=FreeTTS spraaksynthesizer
Comment[nn]=FreeTTS talesyntese
Comment[pa]=FreeTTS ਬੋਲੀ ਸੰਸਲੇਸ਼ਕ
Comment[pl]=Syntezator mowy FreeTTS
Comment[pt]=O sintetizador de fala FreeTTS
Comment[pt_BR]=Sintetizador de voz FreeTTS
Comment[ro]=Sintetizator vocal FreeTTS
Comment[ru]=Синтезатор речи FreeTTS
Comment[sk]=FreeTTS rečový syntezátor
Comment[sl]=Sintetizator govora FreeTTS
Comment[sr]=Синтетизатор ФриТТС
Comment[sr@latin]=Sintetizator FreeTTS
Comment[sv]=FreeTTS talsyntes
Comment[ta]=FreeTTS பேச்சு கூட்டிணைப்பான்
Comment[tg]=Таҳлилгари овози FreeTTS
Comment[tr]=FreeTTS konuşma sentezleyici
Comment[uk]=Синтезатор мовлення FreeTTS
Comment[vi]=Trình tổng hợp tiếng nói Tự do
Comment[x-test]=xxFreeTTS speech synthesizerxx
Comment[zh_CN]=FreeTTS 语音合成器
Comment[zh_TW]=FreeTTS 語音合成器
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_freettsplugin
X-KDE-Languages=en,en_US,en_GB
