[Desktop Entry]
Encoding=UTF-8
Name=Command
Name[br]=Urzhiad
Name[ca]=Comanda
Name[cy]=Gorchymyn
Name[da]=Kommando
Name[de]=Befehl
Name[et]=Käsk
Name[fi]=Komento
Name[fr]=Commande
Name[ga]=Ordú
Name[he]=פקודה
Name[hu]=Parancs
Name[is]=Skipun
Name[it]=Comando
Name[pt]=Comando
Name[sv]=Kommando
Name[ta]=கட்டளை
Name[uk]=Команда
Name[xx]=xxCommandxx
Comment=Generic speech synthesizer from command line
Comment[bg]=Общ синтезатор на глас от командния ред
Comment[ca]=Sintetitzador de veu genèric de línia de comandes
Comment[da]=Generisk tale-synthesizer fra kommandolinjen
Comment[de]=Generischer Sprachsynthesizer in der Befehlszeile
Comment[es]=Sintetizador generico de texto a voz para la línea de comandos
Comment[et]=Üldine käsurea-kõnesüntesaator
Comment[fi]=Yleinen komentorivipohjainen puhesyntetisaattori
Comment[fr]=Synthèse vocale générique en ligne de commande
Comment[hu]=Parancssoros kezelőprogram szövegfelolvasáshoz
Comment[is]=Almennur talgerfill frá skipanalínu
Comment[it]=Sintetizzatore vocale generico dalla riga di comando
Comment[nl]=Generieke spraaksynthesizer voor de commandoregel
Comment[pt]=Sintetizador de fala genérico através de uma linha de comandos
Comment[pt_BR]=Interface de linha de comando para o sintetizador de fala genérico
Comment[ru]=Консольный интерфейс к движкам синтеза речи
Comment[sv]=Generell talsyntes från kommandoraden
Comment[uk]=Загальний синтезатор мовлення з командного рядка
Comment[xx]=xxGeneric speech synthesizer from command linexx
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_commandplugin
X-KDE-Languages=other
