[Desktop Entry]
Encoding=UTF-8
Name=Command
Name[fr]=Commande
Name[x-test]=xxCommandxx
Comment=Generic speech synthesizer from command line
Comment[fr]=Synthèse vocale générique en ligne de commande
Comment[x-test]=xxGeneric speech synthesizer from command linexx
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_commandplugin
X-KDE-Languages=other
