[Desktop Entry]
Name=Command
Name[br]=Urzhiad
Name[ca]=Comandament
Name[cy]=Gorchymyn
Name[da]=Kommando
Name[el]=Εντολή
Name[es]=Comando
Name[et]=Käsurida
Name[fr]=Commande
Name[pt]=Comando
Name[pt_BR]=Comando
Name[sr]=Наредба
Name[sr@Latn]=Наредба
Name[sv]=Kommando
Name[wa]=Comande
Name[xx]=xxCommandxx
Name[zh_CN]=命令行
Comment=Generic speech synthesizer from command line
Comment[ca]=Sintetitzador genèric de la parla des de la línia de comandaments
Comment[da]=Generisk tale-synthesizer fra kommandolinjen
Comment[es]=Sintetizador de habla genérico para la línea de comandos
Comment[et]=Üldine käsurea kõnesüntesaator
Comment[fr]=Synthétiseur générique de paroles depuis une ligne de commande
Comment[nl]=Generieke spraaksynthesizer vanaf de commandoprompt
Comment[pt]=Sintetizador de fala genérico através de uma linha de comandos
Comment[pt_BR]=Sintetizador de voz genérico para linha de comando
Comment[sr]=Генерички синтетизатор говора из командне линије
Comment[sr@Latn]=Генерички синтетизатор говора из командне линије
Comment[sv]=Generell talsyntes från kommandorad
Comment[xx]=xxGeneric speech synthesizer from command linexx
Comment[zh_CN]=从命令行调用通用语音合成器
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_commandplugin
X-KDE-Languages=other
