[Desktop Entry]
Encoding=UTF-8
Name=KTTSD Phonon Plugin
Name[el]=KTTSD πρόσθετο Phonon
Name[nds]=Phonon-Moduul för KTTSD
Name[pa]=KTTSD ਫੋਨੋਨ ਪਲੱਗਇਨ
Name[sv]=KTTSD-insticksprogram för Phonon
Name[x-test]=xxKTTSD Phonon Pluginxx
Comment=KTTSD Phonon audio plugin
Comment[el]=KTTSD πρόσθετο ήχου Phonon
Comment[nds]=Phonon-Audiomoduul för KTTSD
Comment[pa]=KTTSD ਫੋਨੋਨ ਆਡੀਓ ਪਲੱਗਇਨ
Comment[sv]=KTTSD-ljudinsticksprogram för Phonon
Comment[x-test]=xxKTTSD Phonon audio pluginxx
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_phononplugin
