[Desktop Entry]
Name=Hadifix
Name[hi]=हैडिफ़िक्स
Name[hne]=हेडिफिक्स
Name[ml]=ഹാഡിഫിക്സ്
Name[ne]=ह्याडिफिक्स
Name[sr]=Хадификс
Name[x-test]=xxHadifixxx
Name[zh_CN]=Hadidix
Comment=German hadifix text-to-speech system
Comment[ar]=نظام نص-إلى-صوت hadifix الألماني
Comment[bg]=Синтезатор на глас за немски език Hadifix
Comment[ca]=Sistema de text a veu alemany hadifix
Comment[cs]=Německý systém hlasové syntézy hadifix
Comment[da]=Tysk hadifix tekst-til-tale system
Comment[de]=Deutsches hadifix-Sprachausgabesystem
Comment[el]=Σύστημα κειμένου-σε-ομιλία γερμανικού hadifix
Comment[es]=Sistema texto a voz alemán hadifix
Comment[et]=Saksa teksti ettelugemise süsteem Hadifix
Comment[eu]=Alemanierazko hadifix testutik hizketarako sistema
Comment[fa]=سیستم متن به گفتار hadifix آلمانی
Comment[fi]=Saksalainen hadifix teksti puheeksi -järjestelmä
Comment[fr]=Système allemand de synthèse vocale hadifix
Comment[ga]=Córas téacs-go-caint Gearmáinise hadifix
Comment[gl]=Sistema alemao de texto-para-voz hadifix
Comment[hi]=जर्मन हैडिफ़िक्स पाठ से वार्ता तंत्र
Comment[hne]=जर्मन हेडिफिक्स पाठ से वार्ता तंत्र
Comment[hu]=Hadifix szövegfelolvasó (Mbrola-alapú)
Comment[is]=Þýska hadifix texti-í-tal kerfið
Comment[it]=Sistema di pronuncia tedesca Hadifix
Comment[ja]=ドイツ語 hadifix テキスト読み上げシステム
Comment[km]=ប្រព័ន្ធ​អត្ថបទ​ដែល​ត្រូវ​និយាយ​ hadifix អាល្លឺម៉ង់
Comment[ko]=독일어 Hadifix 음성 합성기
Comment[ku]=Felemenk pergala hadifix yê axaftina nivîsê
Comment[lv]=Vācu hadifix teksta izrunāšanas sistēma
Comment[mk]=Германски hadifix систем за текст-во-говор
Comment[ml]=ജര്‍മ്മന്‍ ഹാഡിഫിക്സ് ലേഖന-വായനാ വ്യ‌വസ്ഥ
Comment[ms]=Sistem teks-ke-tutur hadifiks Jerman
Comment[nb]=Tysk hadifix system for tekst-til-tale
Comment[nds]=Düütsch Blicksnuut Hadifix
Comment[ne]=जर्मनी ह्याडिफिक्स पाठ वाचक प्रणाली
Comment[nl]=Duits hadifix tekst-tot-spraak-systeem
Comment[nn]=Tysk hadifax-system for tekst til tale
Comment[pa]=ਜਰਮਨ hadifix ਪਾਠ ਤੋਂ ਬੋਲੀ ਸਿਸਟਮ
Comment[pl]=Niemiecki system syntezy mowy hadifix
Comment[pt]=O sistema alemão de texto-para-fala Hadifix
Comment[pt_BR]=Sistema alemão de conversão de texto para voz Hadifix
Comment[ru]=Немецкая система синтеза речи Hadifix
Comment[sk]=Nemecký text-na-reč systém hadifix
Comment[sl]=Nemški sistem besedila v govor hadifix
Comment[sr]=Хадификс, немачки систем за текст‑у‑говор
Comment[sr@latin]=Hadifix, nemački sistem za tekst‑u‑govor
Comment[sv]=Tyska Hadifix text-till-tal system
Comment[ta]=ஜெர்மன் ஹாடிஃபிக்ஸ் உரையில் இருந்து பேச்சு அமைப்பு
Comment[tg]=Системаи олмонии таҳлили овози hadifix
Comment[tr]=Alman hadifix metin okuma sistemi
Comment[uk]=Німецька система синтезу мовлення hadifix
Comment[vi]=Hệ thống tổng hợp tiếng nói Đức hadifix
Comment[x-test]=xxGerman hadifix text-to-speech systemxx
Comment[zh_CN]=hadifix 德语语音合成系统
Comment[zh_TW]=德語 hadifix 文字轉語音系統
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_hadifixplugin
X-KDE-Languages=de,hu
