[Desktop Entry]
Encoding=UTF-8
Name=Hadifix
Comment=German hadifix text-to-speech system
Comment[bg]=Синтезатор на глас за немски език Hadifix
Comment[da]=Tysk hadifix tekst-til-tale system
Comment[hu]=Hadifix szövegfelolvasó (német nyelvhez)
Comment[nl]=Duits hadifix tekst-tot-spraak-systeem
Comment[pt]=Sistema alemão de texto-para-voz hadifix
Comment[pt_BR]=Sistema alemão de texto-para-voz hadifix
Comment[ru]=Немецкая система синтеза речи hadifix
Comment[sv]=Tyska Hadifix text-till-tal system
Comment[ta]=ஜெர்மன் ஹாடிஃபிக்ஸ் உரையில் இருந்து பேச்சு அமைப்பு
Comment[uk]=Німецька система синтезу мовлення hadifix
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_hadifixplugin
X-KDE-Languages=de
