[Desktop Entry]
Name=XML Transformer
Name[ar]=محول XML
Name[ast]=Tresformador XML
Name[bg]=Трансформиране на XML
Name[ca]=Transformador XML
Name[ca@valencia]=Transformador XML
Name[cs]=XML transformace
Name[da]=XML Transformatør
Name[de]=XML-Umformer
Name[el]=XML μεταμορφωτής
Name[en_GB]=XML Transformer
Name[es]=Transformador XML
Name[et]=XML-i teisendus
Name[eu]=XML Transformer
Name[fa]=تبدیل‌کنندۀ XML
Name[fi]=XML-muunnin
Name[fr]=Transformation XML
Name[ga]=Trasfhoirmeoir XML
Name[gl]=Transformador de XML
Name[hi]=एक्सएमएल परिवर्तक
Name[hne]=एक्सएमएल बदलइया
Name[hu]=XML-átalakító
Name[is]=XML ummyndari
Name[it]=Trasformatore XML
Name[ja]=XML 変換
Name[km]=កម្មវិធី​ប្លែង XML
Name[ko]=XML 변형 도구
Name[ku]=Veguherînerê XML
Name[lv]=XML transformators
Name[mk]=XML-трансформирач
Name[ml]=എക്സ്‌എംഎല്‍ ട്രാന്സ്‌ഫോര്‍മര്‍
Name[ms]=Transformer XML
Name[nb]=XML Transformer
Name[nds]=XML-Ümwanneln
Name[ne]=XML रुपान्तरणकर्ता
Name[nl]=XML-omvormer
Name[nn]=XML-transformator
Name[pa]=XML ਟਰਾਂਸਫਰਮਰ
Name[pl]=Transformacja XML
Name[pt]=Transformação de XML
Name[pt_BR]=Transformador XML
Name[ro]=Transformator XML
Name[ru]=Преобразователь XML
Name[sk]=XML transformácia
Name[sl]=Pretvornik XML
Name[sr]=Трансформатор ИксМЛ‑а
Name[sr@ijekavian]=Трансформатор ИксМЛ‑а
Name[sr@ijekavianlatin]=Transformator XML‑a
Name[sr@latin]=Transformator XML‑a
Name[sv]=XML-transformering
Name[ta]=XML Transformer
Name[tg]=Тағйирдиҳии XML
Name[tr]=XML Dönüştürücü
Name[uk]=Перетворення XML
Name[vi]=Trình chuyển đổi XML
Name[x-test]=xxXML Transformerxx
Name[zh_CN]=XML 转换器
Name[zh_TW]=XML 轉換器
Comment=Generic XML Tranformation Filter Plugin for Jovie
Comment[ar]=ملحق تصفية محول XML العام لـ Jovie
Comment[ast]=Complementu d'Audiu pa Jovie
Comment[bg]=Приставка филтър за трансформиране на XML за Jovie
Comment[ca]=Connector del filtre genèric del transformador XML pel Jovie
Comment[ca@valencia]=Connector del filtre genèric del transformador XML pel Jovie
Comment[cs]=Modul filtru obecné XML transformace Jovie
Comment[da]=Generisk XML Tranformationsfilter-plugin for Jovie
Comment[de]=Generisches XML-Umformungs-Filtermodul für Jovie
Comment[el]=Γενικό φίλτρο πρόσθετο XML μεταμόρφωσης για το Jovie
Comment[en_GB]=Generic XML Tranformation Filter Plugin for Jovie
Comment[es]=Complemento de Audio para Jovie
Comment[et]=Jovie-i üldine XML-i teisenduse filtri plugin
Comment[eu]=Jovie-ren XML transformazioen iragazki-plugin generikoa
Comment[fa]=وصلۀ پالایۀ انتقال XML عمومی برای Jovie
Comment[fi]=Yleinen XML-muuntimen suodatin liitännäinen Jovie-ohjelmalle
Comment[fr]=Module de filtrage de transformation XML générique pour Jovie
Comment[ga]=Breiseán Trasfhoirmithe XML le haghaidh Jovie
Comment[gl]=Extensión de transformación de XML para Jovie
Comment[hi]=केटीटीएस के लिए जेनेरिक एक्सएमएल परिवर्तक  फ़िल्टर प्लगइन
Comment[hne]=केटीटीएस बर जेनेरिक एक्सएमएल बदलइया  छनइया प्लगइन
Comment[hu]=Általános XML-átalakító modul a Jovie-hez
Comment[is]=Almennt XML ummynda íforrit fyrir Jovie
Comment[it]=Estensione generica per il filtro di trasformazione XML per Jovie
Comment[ja]=Jovie 用汎用 XML 変換フィルタプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​ការ​ប្លែង XML ទូទៅ​សម្រាប់ Jovie
Comment[ko]=Jovie 일반적 XML 변형 도구
Comment[ku]=Pêveka Parzûna Veguherînerê XML yê Jenerîk ji bo Jovie
Comment[lv]=Vienkāršs XML transformācijas filtra spraudnis priekš Jovie
Comment[mk]=Филтер за Jovie за трансформација на општ XML
Comment[ml]=കെടിടിഎസ്സിന്റെ എക്സ്‌എംഎല്‍ പരിണാമത്തിനായുള്ള സാമാന്യ‌ അരിപ്പസംയോജകം
Comment[ms]=Plugin Penapis Transformasi XML Generik bagi Jovie
Comment[nb]=Filter-programtillegg til Jovie for alminnelig XML-transformasjon
Comment[nds]=Jovie-Filtermoduul för dat Ümwanneln vun XML
Comment[ne]=Jovie का लागि जेनेरीक XML रुपान्तरण फिल्टर प्लगइन
Comment[nl]=Generieke filterplugin voor Jovie, voor XML-omvorming
Comment[nn]=Generell XML-transformatortillegg for Jovie
Comment[pa]=Jovie ਲਈ XML ਸੰਚਾਰ ਫਿਲਟਰ
Comment[pl]=Wtyczka transformacji XML dla Jovie
Comment[pt]='Plugin' Genérico de Transformação de XML para o Jovie
Comment[pt_BR]=Plug-in genérico do filtro de transformação XML para o Jovie
Comment[ru]=Фильтр XML для Jovie
Comment[sk]=Všeobecný modul filtra pre XML transformáciu v Jovie
Comment[sl]=Filtrni vstavek Jovie za generično preoblikovanje XML
Comment[sr]=Генерички филтерски прикључак КТТС‑а за трансформисање ИксМЛ‑а
Comment[sr@ijekavian]=Генерички филтерски прикључак КТТС‑а за трансформисање ИксМЛ‑а
Comment[sr@ijekavianlatin]=Generički filterski priključak Jovie‑a za transformisanje XML‑a
Comment[sr@latin]=Generički filterski priključak Jovie‑a za transformisanje XML‑a
Comment[sv]=Insticksprogram för Jovie med generellt XML-transformeringsfilter
Comment[ta]=Jovieக்கான ஜெனரிக் XML மாற்று அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри XMLбарои Jovie
Comment[tr]=Jovie için genel XML Dönüştürücü Süzgeci Eklentisi
Comment[uk]=Додаток загального фільтра перетворення XML для Jovie
Comment[vi]=Trình bổ sung Lọc Chuyển đổi XML Chung cho Jovie
Comment[x-test]=xxGeneric XML Tranformation Filter Plugin for Joviexx
Comment[zh_CN]=Jovie 通用 XML 转换过滤插件
Comment[zh_TW]=Jovie 使用的一般 XML 轉換外掛程式
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=libjovie_xmltransformerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
