[Desktop Entry]
Name=XML Transformer
Name[ar]=محول XML
Name[ast]=Tresformador XML
Name[bg]=Трансформиране на XML
Name[bs]=Transformator XML-a
Name[ca]=Transformador XML
Name[ca@valencia]=Transformador XML
Name[cs]=XML transformace
Name[da]=XML Transformatør
Name[de]=XML-Umformer
Name[el]=XML μεταμορφωτής
Name[en_GB]=XML Transformer
Name[es]=Transformador XML
Name[et]=XML-i teisendus
Name[eu]=XML Transformer
Name[fa]=تبدیل‌کنندۀ XML
Name[fi]=XML-muunnin
Name[fr]=Transformation XML
Name[ga]=Trasfhoirmeoir XML
Name[gl]=Transformador de XML
Name[hi]=एक्सएमएल परिवर्तक
Name[hne]=एक्सएमएल बदलइया
Name[hu]=XML-átalakító
Name[is]=XML ummyndari
Name[it]=Trasformatore XML
Name[ja]=XML 変換
Name[kk]=XML түрлендіргіші
Name[km]=កម្មវិធី​ប្លែង XML
Name[ko]=XML 변형 도구
Name[ku]=Veguherînerê XML
Name[lv]=XML transformators
Name[mk]=XML-трансформирач
Name[ml]=എക്സ്‌എംഎല്‍ ട്രാന്സ്‌ഫോര്‍മര്‍
Name[ms]=Transformer XML
Name[nb]=XML Transformer
Name[nds]=XML-Ümwanneln
Name[ne]=XML रुपान्तरणकर्ता
Name[nl]=XML-omvormer
Name[nn]=XML-transformator
Name[pa]=XML ਟਰਾਂਸਫਰਮਰ
Name[pl]=Transformacja XML
Name[pt]=Transformação de XML
Name[pt_BR]=Transformador XML
Name[ro]=Transformator XML
Name[ru]=Преобразователь XML
Name[sk]=XML transformácia
Name[sl]=Pretvornik XML
Name[sr]=Трансформатор ИксМЛ‑а
Name[sr@ijekavian]=Трансформатор ИксМЛ‑а
Name[sr@ijekavianlatin]=Transformator XML‑a
Name[sr@latin]=Transformator XML‑a
Name[sv]=XML-transformering
Name[ta]=XML Transformer
Name[tg]=Тағйирдиҳии XML
Name[tr]=XML Dönüştürücü
Name[ug]=XML ئالماشتۇرغۇچ
Name[uk]=Перетворення XML
Name[vi]=Trình chuyển đổi XML
Name[x-test]=xxXML Transformerxx
Name[zh_CN]=XML 转换器
Name[zh_TW]=XML 轉換器
Comment=Generic XML Transformation Filter Plugin for Jovie
Comment[bg]=Приставка филтър за трансформиране на XML за Jovie
Comment[bs]=Generički filterski priključak Jovie za transformisanje XML
Comment[ca]=Connector del filtre genèric del transformador XML pel Jovie
Comment[ca@valencia]=Connector del filtre genèric del transformador XML pel Jovie
Comment[cs]=Modul filtru obecné XML transformace pro Jovie
Comment[da]=Generisk XML Tranformationsfilter-plugin til Jovie
Comment[de]=Ein allgemeines Modul zur XML-Umformung für Jovie
Comment[en_GB]=Generic XML Transformation Filter Plugin for Jovie
Comment[es]=Complemento genérico de filtro transformación de XML para Jovie
Comment[et]=Jovie üldine XML-i teisenduse filtri plugin
Comment[fi]=Jovien yleinen XML-muunninliitännäinen
Comment[fr]=Module de filtrage de transformation XML générique pour Jovie
Comment[ga]=Breiseán Trasfhoirmithe XML le haghaidh Jovie
Comment[hu]=Általános XML-átalakító modul a Jovie-hoz
Comment[is]=Almennt XML-ummyndunar-íforrit fyrir Jovie
Comment[it]=Estensione generica per il filtro di trasformazione XML per Jovie
Comment[ja]=Jovie 用汎用 XML 変換フィルタプラグイン
Comment[kk]=Jovie-нің XML-ді түрлендіру жалпы сүзгі плагині
Comment[ko]=Jovie 일반적 XML 변형 도구
Comment[nb]=Filter-programtillegg til Jovie for alminnelig XML-transformasjon
Comment[nds]=Jovie-Filtermoduul för dat Ümwanneln vun XML
Comment[nl]=Generieke filter-plugin voor Jovie, voor XML-omvorming
Comment[nn]=Generelt XML-transformatortillegg for Jovie
Comment[pt]='Plugin' Genérico de Transformação de XML para o Jovie
Comment[pt_BR]=Plug-in genérico do filtro de transformação XML para o Jovie
Comment[ru]=Модуль преобразования XML для Jovie
Comment[sr]=Генерички филтерски прикључак Џови за трансформисање ИксМЛ‑а
Comment[sr@ijekavian]=Генерички филтерски прикључак Џови за трансформисање ИксМЛ‑а
Comment[sr@ijekavianlatin]=Generički filterski priključak Džovi za transformisanje XML‑a
Comment[sr@latin]=Generički filterski priključak Džovi za transformisanje XML‑a
Comment[sv]=Insticksprogram för Jovie med generellt XML-transformeringsfilter
Comment[tr]=Jovie için genel XML Dönüştürücü Süzgeci Eklentisi
Comment[ug]=Jovie ئادەتتىكى XML ئالماشتۇرغۇچ سۈزگۈچ قىستۇرمىسى
Comment[uk]=Додаток загального фільтра перетворення XML для Jovie
Comment[x-test]=xxGeneric XML Transformation Filter Plugin for Joviexx
Comment[zh_CN]=Jovie 通用 XML 转换过滤插件
Comment[zh_TW]=Jovie 使用的一般 XML 轉換過濾外掛程式
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=jovie_xmltransformerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
