[Desktop Entry]
Encoding=UTF-8
Name=XML Transformer
Name[fr]=Transformation XML
Name[x-test]=xxXML Transformerxx
Comment=Generic XML Tranformation Filter Plugin for KTTS
Comment[fr]=Module de filtrage de transformation XML générique pour KTTS
Comment[x-test]=xxGeneric XML Tranformation Filter Plugin for KTTSxx
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_xmltransformerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
