[Desktop Entry]
Name=XML Transformer
Name[ar]=محول XML
Name[bg]=Трансформиране на XML
Name[ca]=Transformador XML
Name[cs]=XML transformace
Name[da]=XML Transformatør
Name[de]=XML-Umformer
Name[el]=XML μεταμορφωτής
Name[es]=Transformador XML
Name[et]=XML-i teisendus
Name[fa]=تبدیل‌کنندۀ XML
Name[fi]=XML-muunnin
Name[fr]=Transformation XML
Name[ga]=Trasfhoirmeoir XML
Name[gl]=Transformador de XML
Name[hi]=एक्सएमएल परिवर्तक
Name[hu]=XML-átalakító
Name[is]=XML ummyndari
Name[it]=Trasformatore XML
Name[ja]=XML 変換
Name[km]=កម្មវិធី​ប្លែង XML
Name[ko]=XML 변형 도구
Name[ku]=Veguherînerê XML
Name[lv]=XML transformators
Name[mk]=XML-трансформирач
Name[ml]=എക്സ്‌എംഎല്‍ ട്രാന്സ്‌ഫോര്‍മര്‍
Name[ms]=Transformer XML
Name[nds]=XML-Ümwanneln
Name[ne]=XML रुपान्तरणकर्ता
Name[nl]=XML-omvormer
Name[nn]=XML-transformator
Name[pa]=XML ਟਰਾਂਸਫਰਮਰ
Name[pl]=Transformacja XML
Name[pt]=Transformação de XML
Name[pt_BR]=Transformador XML
Name[ro]=Transformator XML
Name[ru]=Преобразователь XML
Name[sk]=XML transformácia
Name[sl]=Pretvornik XML
Name[sr]=Трансформатор ИксМЛ‑а
Name[sr@latin]=Transformator XML‑a
Name[sv]=XML-transformering
Name[tg]=Тағйирдиҳии XML
Name[tr]=XML Dönüştürücü
Name[uk]=Перетворення XML
Name[vi]=Trình chuyển đổi XML
Name[x-test]=xxXML Transformerxx
Name[zh_CN]=XML 转换器
Name[zh_TW]=XML 轉換器
Comment=Generic XML Tranformation Filter Plugin for KTTS
Comment[ar]=ملحق تصفية محول XML العام لـ KTTS
Comment[bg]=Приставка филтър за трансформиране на XML за KTTS
Comment[ca]=Connector del filtre genèric del transformador XML pel KTTS
Comment[cs]=Modul filtru obecné XML transformace KTTS
Comment[da]=Generisk XML Tranformationsfilter-plugin for KTTS
Comment[de]=Generisches XML-Umformungs-Filtermodul für KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο XML μεταμόρφωσης για το KTTS
Comment[es]=Complemento de Audio para KTTSD
Comment[et]=KTTS-i üldine XML-i teisenduse filtri plugin
Comment[eu]=KTTS-ren XML transformazioen iragazki-plugin generikoa
Comment[fa]=وصلۀ پالایۀ انتقال XML عمومی برای KTTS
Comment[fi]=Yleinen XML-muuntimen suodatin liitännäinen KTTS-ohjelmalle
Comment[fr]=Module de filtrage de transformation XML générique pour KTTS
Comment[ga]=Breiseán Trasfhoirmithe XML le haghaidh KTTS
Comment[gl]=Extensión de transformación de XML para KTTS
Comment[hi]=केटीटीएस के लिए जेनेरिक एक्सएमएल परिवर्तक  फ़िल्टर प्लगइन
Comment[hu]=Általános XML-átalakító modul a KTTS-hez
Comment[is]=Almennt XML ummynda íforrit fyrir KTTS
Comment[it]=Plugin generico per il filtro di trasformazione XML per KTTS
Comment[ja]=KTTS 用汎用 XML 変換フィルタプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​ការ​ប្លែង XML ទូទៅ​សម្រាប់ KTTS
Comment[ko]=KTTS 일반적 XML 변형 도구
Comment[ku]=Pêveka Parzûna Veguherînerê XML yê Jenerîk ji bo KTTS
Comment[lv]=Vienkāršs XML transformācijas filtra spraudnis priekš KTTS
Comment[mk]=Филтер за KTTS за трансформација на општ XML
Comment[ml]=കെടിടിഎസ്സിന്റെ എക്സ്‌എംഎല്‍ പരിണാമത്തിനായുള്ള സാമാന്യ‌ അരിപ്പസംയോജകം
Comment[ms]=Plugin Penapis Transformasi XML Generik bagi KTTS
Comment[nb]=Filter-programtillegg til KTTS for alminnelig XML-transformasjon
Comment[nds]=KTTS-Filtermoduul för dat Ümwanneln vun XML
Comment[ne]=KTTS का लागि जेनेरीक XML रुपान्तरण फिल्टर प्लगइन
Comment[nl]=Generieke filterplugin voor KTTS, voor XML-omvorming
Comment[nn]=Generell XML-transformatortillegg for KTTS
Comment[pa]=KTTS ਲਈ XML ਸੰਚਾਰ ਫਿਲਟਰ
Comment[pl]=Wtyczka transformacji XML dla KTTS
Comment[pt]='Plugin' Genérico de Transformação de XML para o KTTS
Comment[pt_BR]=Plug-in genérico do filtro de transformação XML para o KTTS
Comment[ru]=Фильтр XML для KTTS
Comment[sk]=Všeobecný modul filtra pre XML transformáciu v KTTS
Comment[sl]=Filtrni vstavek KTTS za generično preoblikovanje XML
Comment[sr]=Генерички филтерски прикључак КТТС‑а за трансформисање ИксМЛ‑а
Comment[sr@latin]=Generički filterski priključak KTTS‑a za transformisanje XML‑a
Comment[sv]=Insticksprogram för KTTS med generellt XML-transformeringsfilter
Comment[ta]=KTTSக்கான ஜெனரிக் XML மாற்று அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри XMLбарои KTTS
Comment[tr]=KTTS için genel XML Dönüştürücü Süzgeci Eklentisi
Comment[uk]=Втулок загального фільтра перетворення XML для KTTS
Comment[vi]=Trình bổ sung Lọc Chuyển đổi XML Chung cho KTTS
Comment[x-test]=xxGeneric XML Tranformation Filter Plugin for KTTSxx
Comment[zh_CN]=KTTS 通用 XML 转换过滤插件
Comment[zh_TW]=KTTS 使用的一般 XML 轉換外掛程式
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_xmltransformerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
