[Desktop Entry]
Encoding=UTF-8
Name=XML Transformer
Name[bg]=Трансформиране на XML
Name[ca]=Transformador XML
Name[cs]=XML transformace
Name[da]=XML Transformatør
Name[de]=XML-Umformer
Name[el]=XML μεταμορφωτής
Name[es]=Transformador XML
Name[et]=XML-i teisendus
Name[fi]=XML-muunnin
Name[fr]=Transformation XML
Name[ga]=Trasfhoirmeoir XML
Name[hu]=XML-átalakító
Name[is]=XML ummyndari
Name[it]=Trasformatore XML
Name[nl]=XML-omvormer
Name[pa]=XML ਤਬਦੀਲੀਕਾਰ
Name[pl]=Transformacja XML
Name[pt]=Transformação de XML
Name[pt_BR]=Transformador XML
Name[ru]=Преобразователь XML
Name[sl]=Pretvornik XML
Name[sr]=XML трансформатор
Name[sr@Latn]=XML transformator
Name[sv]=XML-transformering
Name[tg]=Тағйирдиҳии XML
Name[tr]=XML Dönüştürücü
Name[uk]=Перетворення XML
Name[xx]=xxXML Transformerxx
Comment=Generic XML Tranformation Filter Plugin for KTTS
Comment[bg]=Приставка филтър за трансформиране на XML за KTTS
Comment[ca]=Connector del filtre genèric del transformador XML pel KTTS
Comment[cs]=Modul filtru obecné XML transformace KTTS
Comment[da]=Generisk XML Tranformationsfilter-plugin for KTTS
Comment[de]=Generisches XML-Umformungs-Filterplugin für KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο XML μεταμόρφωσης για το KTTS
Comment[es]=Extensión de Audio para KTTSD
Comment[et]=KTTS-i üldine XML-i teisenduse filtri plugin
Comment[fi]=Yleinen XML-muuntimen suodatin liitännäinen KTTS-ohjelmalle
Comment[fr]=Module de filtrage de transformation XML générique pour KTTS
Comment[hu]=Általános XML-átalakító modul a KTTS-hez
Comment[is]=Almennt XML ummynda íforrit fyrir KTTS
Comment[it]=Plugin generico per il filtro di trasformazione XML per KTTS
Comment[nl]=Generieke filterplugin voor XML-omvorming voor KTTS
Comment[pl]=Wtyczka transformacji XML dla KTTS
Comment[pt]='Plugin' Genérico de Transformação de XML para o KTTS
Comment[pt_BR]=Plug-in de Filtro Genérico de Transformação XML: para o KTTSD
Comment[ru]=Фильтр XML для KTTS
Comment[sl]=Filtrni vstavek KTTS za generično preoblikovanje XML
Comment[sr]=Генерички филтерски прикључак KTTS-а за трансформацију XML-а
Comment[sr@Latn]=Generički filterski priključak KTTS-a za transformaciju XML-a
Comment[sv]=Insticksprogram för KTTS med generellt XML-transformeringsfilter
Comment[ta]=KTTSக்கான ஜெனரிக் XML மாற்று அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри XMLбарои KTTS
Comment[tr]=KTTS için genel XML Dönüştürücü Süzgeci Eklentisi
Comment[uk]=Втулок загального фільтра перетворення XML для KTTS
Comment[xx]=xxGeneric XML Tranformation Filter Plugin for KTTSxx
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_xmltransformerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
