[Desktop Entry]
Encoding=UTF-8
Name=Festival Lite (flite)
Name[el]=Festival ελαφρύ (flite)
Name[fi]=Festival Lite (kevytversio)
Name[pt_BR]=Festival Lite
Name[ta]=பெஸ்டிவல் லைட் (flite)
Name[tr]=Festival Lite(flite)
Comment=Festival Lite (flite) speech synthesizer
Comment[bg]=Олекотен синтезатор на глас Festival Lite
Comment[ca]=Sintetitzador de veu Festival Lite (flite)
Comment[cs]=Hlasový syntetizér Festival Lite (flite)
Comment[da]=Festival Lite (flite) tale-synthesizer
Comment[de]=Festival Lite (flite) Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας Festival ελαφρύ (flite)
Comment[es]=Sintetizador de texto a voz Festival (flite)
Comment[et]=Kõnesüntesaator Festival lite (flite)
Comment[eu]=Festival Lite (flite) hizketa-sintetizadorea
Comment[fi]=Festival Lite (kevytversio) puhesyntetisaattori
Comment[fr]=Synthèse vocale Festival Lite (flite)
Comment[hu]=Festival Lite (flite) beszédszintetizátor
Comment[is]=Festival Lite (flite) talgerfill
Comment[it]=Sintetizzatore vocale Festival Lite (flite)
Comment[ja]=Festival Lite (flite) スピーチシンセサイザ
Comment[nb]=Festival Lite (flite) talesyntetisering
Comment[nl]=Festival Lite (flite) spraaksynthesizer
Comment[pa]=Festival Lite (flite) ਬੋਲੀ ਸੰਸਲੇਸ਼ਕ
Comment[pl]=Syntezator mowy Festival Lite (flite)
Comment[pt]=O sintetizador de fala Festival Lite (flite)
Comment[pt_BR]=Sintetizador de fala Festival Lite (leve)
Comment[ru]=Синтезатор речи Festival Lite (flite)
Comment[sl]=Sintetizator govora Festival Lite (flite)
Comment[sr]=Синтетизатор говора Festival Lite (flite)
Comment[sr@Latn]=Sintetizator govora Festival Lite (flite)
Comment[sv]=Festival Lite (flite) talsyntes
Comment[ta]=பெஸ்டிவல் லைட் (flite) பேச்சு கூட்டிணைப்பான்
Comment[tg]=Таҳлилгари овози Festival Lite (flite)
Comment[tr]=Festival Lite(flite) konuşma bireştirici
Comment[uk]=Синтезатор мовлення Festival Lite (flite)
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_fliteplugin
X-KDE-Languages=en,en_US,en_GB
