[Desktop Entry]
Name=Festival Lite (flite)
Name[ar]=Festival الخفيف
Name[bg]=Festival Lite (flite)
Name[br]=Festival Lite (flite)
Name[ca]=Festival Lite (flite)
Name[cs]=Festival Lite (flite)
Name[da]=Festival Lite (flite)
Name[de]=Festival Lite (flite)
Name[el]=Festival ελαφρύ (flite)
Name[en_GB]=Festival Lite (flite)
Name[es]=Festival Lite (flite)
Name[et]=Festival Lite (flite)
Name[eu]=Festival Lite (flite)
Name[fi]=Festival Lite (kevytversio)
Name[fr]=Festival Lite (flite)
Name[ga]=Festival Lite (flite)
Name[gl]=Festival Lite (flite)
Name[hi]=फ़ेस्टिवल लाइट (एफलाइट)
Name[hne]=फेस्टिवल लाइट (एफलाइट)
Name[hu]=Festival Lite (flite)
Name[is]=Festival Lite (flite)
Name[it]=Festival Lite (flite)
Name[ja]=Festival Lite (flite)
Name[km]=Festival Lite (flite)
Name[ko]=Festival 라이트 (flite)
Name[ku]=Festival Lite (flite)
Name[lv]=Festival Lite (flite)
Name[mk]=Festival Lite (flite)
Name[ml]=ഫെസ്റ്റിവല്‍ ലൈറ്റ് (എഫ്‌ലൈറ്റ്)
Name[ms]=Festival Lite (flite)
Name[nb]=Festival Lite (flite)
Name[nds]=Festival Lite (FLite)
Name[ne]=फेस्टिभल लाइट (एफ लाईट)
Name[nl]=Festival Lite (flite)
Name[nn]=Festival Lite (flite)
Name[pa]=Festival Lite (flite)
Name[pl]=Festival Lite (flite)
Name[pt]=Festival Lite (flite)
Name[pt_BR]=Festival Lite (flite)
Name[ru]=Festival Lite (flite)
Name[sk]=Festival Lite (flite)
Name[sl]=Festival Lite (flite)
Name[sr]=Фестивал лајт (Флајт)
Name[sr@latin]=Festival Lite (Flite)
Name[sv]=Festival Lite (flite)
Name[ta]=பெஸ்டிவல் லைட் (flite)
Name[tg]=Festival Lite (flite)
Name[tr]=Festival Lite(flite)
Name[uk]=Festival Lite (flite)
Name[vi]=Festival Lite (flite)
Name[x-test]=xxFestival Lite (flite)xx
Name[zh_CN]=Festival Lite (flite)
Name[zh_TW]=Festival Lite (flite)4
Comment=Festival Lite (flite) speech synthesizer
Comment[ar]=محلل نطق Festival الخفيف
Comment[bg]=Олекотен синтезатор на глас Festival Lite
Comment[ca]=Sintetitzador de veu Festival Lite (flite)
Comment[cs]=Hlasový syntetizér Festival Lite (flite)
Comment[da]=Festival Lite (flite) tale-synthesizer
Comment[de]=Festival Lite (flite) Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας Festival ελαφρύ (flite)
Comment[en_GB]=Festival Lite (flite) speech synthesizer
Comment[es]=Sintetizador de voz Festival Lite (flite)
Comment[et]=Kõnesüntesaator Festival lite (flite)
Comment[eu]=Festival Lite (flite) hizketa-sintetizadorea
Comment[fa]=ترکیب‌دهندۀ گفتار Festival Lite (flite)
Comment[fi]=Festival Lite (kevytversio)-puhesyntetisaattori
Comment[fr]=Synthèse vocale Festival Lite (flite)
Comment[ga]=Sintéiseoir cainte Festival Lite (flite)
Comment[gl]=Sintetizador de voz Festival Lite (flite)
Comment[hi]=फ़ेस्टिवल लाइट (एफ़लाइट) स्पीच सिंथेसाइजर
Comment[hne]=फेस्टिवल लाइट (एफलाइट) स्पीच सिंथेसाइजर
Comment[hu]=Festival Lite (flite) beszédszintetizátor
Comment[is]=Festival Lite (flite) talgerfill
Comment[it]=Sintetizzatore vocale Festival Lite (flite)
Comment[ja]=Festival Lite (flite) スピーチシンセサイザー
Comment[km]=កម្មវិធី​សង្គ្រោះ​ការនិយាយ Festival Lite (flite)
Comment[ko]=Festival 라이트 (flite) 음성 합성기
Comment[ku]=Festival Lite (flite) yekkerê axaftinê
Comment[lv]=Festival Lite (flite) runas sintezators
Comment[mk]=Festival Lite (flite) синтетизатор на говор
Comment[ml]=ഫെസ്റ്റിവല്‍ ലഘു സംസാരസങ്കലനോപാധി
Comment[ms]=Pensintesis tutur Festival Lite (flite)
Comment[nb]=Festival Lite (flite) talesyntetisering
Comment[nds]=Blicksnuut Festival lite (FLite)
Comment[ne]=फेस्टिभल लाइट (एफ लाइट) संवाद सिन्थेसाइजर
Comment[nl]=Festival Lite (flite) spraaksynthesizer
Comment[nn]=Festival Lite (flite) talesyntese
Comment[pa]=Festival Lite (flite) ਬੋਲੀ ਸੰਸਲੇਸ਼ਕ
Comment[pl]=Syntezator mowy Festival Lite (flite)
Comment[pt]=O sintetizador de fala Festival Lite (flite)
Comment[pt_BR]=Sintetizador de voz Festival Lite (flite)
Comment[ru]=Синтезатор речи Festival Lite (flite)
Comment[sk]=Festival Lite (flite) rečový syntezátor
Comment[sl]=Sintetizator govora Festival Lite (flite)
Comment[sr]=Синтетизатор говора Фестивал лајт (Флајт)
Comment[sr@latin]=Sintetizator govora Festival Lite (Flite)
Comment[sv]=Festival Lite (flite) talsyntes
Comment[ta]=பெஸ்டிவல் லைட் (flite) பேச்சு கூட்டிணைப்பான்
Comment[tg]=Таҳлилгари овози Festival Lite (flite)
Comment[tr]=Festival Lite(flite) konuşma sentezleyici
Comment[uk]=Синтезатор мовлення Festival Lite (flite)
Comment[vi]=Trình tổng hợp tiếng nói Festival Lite (flite)
Comment[x-test]=xxFestival Lite (flite) speech synthesizerxx
Comment[zh_CN]=Festival Lite (flite) 语音合成器
Comment[zh_TW]=Festival Lite (flite) 語音合成器
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_fliteplugin
X-KDE-Languages=en,en_US,en_GB
