[Desktop Entry]
Type=Service
Exec=kitty
Icon=preferences-desktop-text-to-speech
ServiceTypes=DBUS/Text-to-Speech
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=KITTY
Name[da]=KITTY
Name[pt]=KITTY
Name[sv]=KITTY
Name[uk]=KITTY
Name[x-test]=xxKITTYxx
Comment=KDE Text To Speech Service
Comment[da]=KDE tekst til tale-tjeneste
Comment[pt]=Serviço de Texto-para-Fala do KDE
Comment[sv]=KDE:s text-till-tal tjänst
Comment[uk]=Служба KDE синтезу мовлення з тексту
Comment[x-test]=xxKDE Text To Speech Servicexx
Categories=Qt;KDE;Utility;Accessibility;
