[Desktop Entry]
Type=Service
Exec=jovie
Icon=preferences-desktop-text-to-speech
ServiceTypes=DBUS/Text-to-Speech
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Jovie
Name[bg]=Jovie
Name[ca]=Jovie
Name[ca@valencia]=Jovie
Name[cs]=Jovie
Name[da]=Jovie
Name[de]=Jovie
Name[en_GB]=Jovie
Name[et]=Jovie
Name[hu]=Jovie
Name[is]=Jovie
Name[it]=Jovie
Name[nb]=Jovie
Name[nds]=Jovie
Name[nl]=Jovie
Name[pt]=Jovie
Name[pt_BR]=Jovie
Name[sv]=Jovie
Name[uk]=Jovie
Name[x-test]=xxJoviexx
Name[zh_CN]=Jovie
Name[zh_TW]=Jovie
Comment=KDE Text To Speech Service
Comment[bg]=Услуга на KDE за екранен четец
Comment[ca]=Servei de text a veu del KDE
Comment[ca@valencia]=Servei de text a veu del KDE
Comment[cs]=Služba hlasové syntézy KDE
Comment[da]=KDE tekst til tale-tjeneste
Comment[de]=KDE Sprachausgabedienst
Comment[en_GB]=KDE Text To Speech Service
Comment[et]=KDE teksti ettelugemise deemon
Comment[hu]=KDE szövegfelolvasó szolgáltatás
Comment[is]=KDE texti-í-tal þjónusta
Comment[it]=Servizio di pronuncia di KDE
Comment[nb]=KDE tekst-til-tale-tjeneste
Comment[nds]=Vörlees-Deenst vun KDE
Comment[nl]=KDE tekst-naar-spraak-service
Comment[pt]=Serviço de Texto-para-Fala do KDE
Comment[pt_BR]=Serviço de sintetizador de voz do KDE
Comment[sv]=KDE:s text-till-tal tjänst
Comment[uk]=Служба KDE синтезу мовлення з тексту
Comment[x-test]=xxKDE Text To Speech Servicexx
Comment[zh_CN]=KDE 文本到语音服务
Comment[zh_TW]=KDE 文字轉語音服務
Categories=Qt;KDE;Utility;Accessibility;
