[Desktop Entry]
Type=Service
Exec=jovie
Icon=preferences-desktop-text-to-speech
ServiceTypes=DBUS/Text-to-Speech
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
GenericName=Text To Speech Service
Name=Jovie
Comment=KDE Text To Speech Service
Categories=Qt;KDE;Utility;Accessibility;
