[Desktop Entry]
Encoding=UTF-8
Name=Festival Interactive
Name[ar]=Festival تفاعلي
Name[da]=Festival Interaktiv
Name[el]=Διαδραστικό Festival
Name[eu]=Festival interaktiboa
Name[fa]=Festival تعاملی
Name[fi]=Interaktiivinen Festival
Name[ga]=Festival Idirghníomhach
Name[gl]=Festival Interactivo
Name[is]=Festival gagnvirkni
Name[it]=Festival Interattivo
Name[ja]=Festival インタラクティブ
Name[km]=អន្តរ​មុខងារ
Name[mk]=Интерактивен festival
Name[ms]=Interaktif Perayaan
Name[ne]=अन्तरक्रियात्मक फेस्टिभल
Name[pa]=ਫੈਸੀਟੇਵਲ ਇੰਟਰੇਕਟਵ
Name[pl]=Festival interaktywny
Name[sv]=Festival interaktiv
Name[ta]=பெஸ்டிவல் உள்செயல்
Name[tg]=Фестивали Интерактив
Name[tr]=Etkileşimli Festival
Name[vi]=Tương tác Festival
Name[x-test]=xxFestival Interactivexx
Comment=Festival speech synthesizer
Comment[el]=Συνθέτης ομιλίας Festival
Comment[ga]=Sintéiseoir cainte Festival
Comment[it]=Sintetizzatore vocale Festival
Comment[nds]=Blicksnuut Festival
Comment[pt]=O sintetizador de fala Festival
Comment[pt_BR]=O sintetizador de fala Festival
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_festivalintplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl,ru,it,sw,zu,fr_CA,vi
