[Desktop Entry]
Encoding=UTF-8
Name=Festival Interactive
Name[da]=Festival Interaktiv
Name[el]=Διαδραστικό Festival
Name[fi]=Interaktiivinen Festival
Name[is]=Festival gagnvirkni
Name[it]=Festival Interattivo
Name[pl]=Festival interaktywny
Name[pt_BR]=Festival Interativo
Name[sv]=Festival interaktiv
Name[ta]=பெஸ்டிவல் உள்செயல்
Name[tg]=Интерактиви фестивал
Comment=Festival speech synthetizer
Comment[bg]=Синтезатор на глас Festival
Comment[ca]=Sintetitzador de veu Festival
Comment[cs]=Hlasový syntetizér Festival
Comment[da]=Festival tale-synthetizer
Comment[de]=Festival Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας Festival
Comment[es]=Sintetizador de texto a voz Festival
Comment[et]=Kõnesüntesaator Festival
Comment[fi]=Festival puhesyntetisaattori
Comment[fr]=Synthèse vocale Festival
Comment[hu]=Festival beszédszintetizátor
Comment[is]=Festival talgerfill
Comment[it]=Sintetizzatore vocale Festival
Comment[nl]=Festival spraaksynthetizer
Comment[pl]=Syntezator mowy Festival
Comment[pt]=O sintetizador de fala Festival
Comment[pt_BR]=Sistema de Sintetizador de Fala Festival
Comment[ru]=Синтезатор речи Festival
Comment[sl]=Sintetizator govora Festival
Comment[sr]=Синтетизатор говора Festival
Comment[sr@Latn]=Sintetizator govora Festival
Comment[sv]=Festival talsyntes
Comment[ta]=பெஸ்டிவல் பேச்சு கூட்டிணைப்பான்
Comment[tg]=Фестивали сухани синтезатор
Comment[uk]=Синтезатор мовлення Festival
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_festivalintplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl,ru,it
