[Desktop Entry]
Encoding=UTF-8
Name=Festival Interactive
Name[da]=Festival Interaktiv
Name[el]=Διαδραστικό Festival
Name[eu]=Festival interaktiboa
Name[fa]=Festival تعاملی
Name[fi]=Interaktiivinen Festival
Name[ga]=Festival Idirghníomhach
Name[gl]=Festival Interactivo
Name[is]=Festival gagnvirkni
Name[it]=Festival Interattivo
Name[ja]=Festival インタラクティブ
Name[km]=អន្តរ​មុខងារ
Name[mk]=Интерактивен festival
Name[ms]=Interaktif Perayaan
Name[ne]=अन्तरक्रियात्मक उत्सव
Name[pa]=ਫੈਸੀਟੇਵਲ ਇੰਟਰੇਕਟਵ
Name[pl]=Festival interaktywny
Name[pt_BR]=Festival Interativo
Name[sv]=Festival interaktiv
Name[ta]=பெஸ்டிவல் உள்செயல்
Name[tg]=Фестивали Интерактив
Name[tr]=Etkileşimli Festival
Name[x-test]=xxFestival Interactivexx
Comment=Festival speech synthetizer
Comment[bg]=Синтезатор на глас Festival
Comment[ca]=Sintetitzador de veu Festival
Comment[cs]=Hlasový syntetizér Festival
Comment[da]=Festival tale-synthetizer
Comment[de]=Festival Sprachsynthesizer
Comment[el]=Συνθέτης ομιλίας Festival
Comment[es]=Sintetizador de texto a voz Festival
Comment[et]=Kõnesüntesaator Festival
Comment[eu]=Festival hizketa-sintetizadorea
Comment[fa]=ترکیب‌دهندۀ گفتار Festival
Comment[fi]=Festival puhesyntetisaattori
Comment[fr]=Synthèse vocale Festival
Comment[ga]=Sintéiseoir cainte Festival
Comment[gl]=Sistetizador de voces Festival
Comment[hu]=Festival beszédszintetizátor
Comment[is]=Festival talgerfill
Comment[it]=Sintetizzatore vocale Festival
Comment[ja]=Festival スピーチシンセサイザ
Comment[km]= មុខងារ​កម្មវិធី​សង្គ្រោះ​ការ​និយាយ​
Comment[mk]=Синтетизатор за говор festival
Comment[ms]=Pensintesis tutur perayaan
Comment[nb]=Festival talesyntetisering
Comment[nds]=Blicksnuut Festival
Comment[ne]=संवाद सिन्थेसाइजर उत्सव
Comment[nl]=Festival spraaksynthetizer
Comment[pa]=ਫੈਸੀਟੇਵਲ ਬੋਲੀ ਸੰਸਲੇਸ਼ਕ
Comment[pl]=Syntezator mowy Festival
Comment[pt]=O sintetizador de fala Festival
Comment[pt_BR]=Sistema de Sintetizador de Fala Festival
Comment[ru]=Синтезатор речи Festival
Comment[sl]=Sintetizator govora Festival
Comment[sr]=Синтетизатор говора Festival
Comment[sr@Latn]=Sintetizator govora Festival
Comment[sv]=Festival talsyntes
Comment[ta]=பெஸ்டிவல் பேச்சு கூட்டிணைப்பான்
Comment[tg]=Таҳлилгари овози Festival
Comment[tr]=Festival konuşma bireştirici
Comment[uk]=Синтезатор мовлення Festival
Comment[x-test]=xxFestival speech synthetizerxx
Comment[zh_TW]=Festival 語音合成器
Type=Service
ServiceTypes=KTTSD/SynthPlugin
X-KDE-Library=libkttsd_festivalintplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl,ru,it,sw,zu,fr_CA,vi
