Source: kttsd
Section: kde
Priority: extra
Maintainer: Gary Cramblitt (PhantomsDad) <garycramblitt@comcast.net>
Build-Depends: debhelper (>= 4.0.0), kdelibs4-dev (>= 4:3.2), qt3-doc (>=3.3.3)
Standards-Version: 3.6.1.1

Package: kttsd
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kttsd-appplugins, festival, festival-doc, festvox-kallpc, flite, epos
Description: KDE Text-to-Speech system
 KTTS, the KDE Text-to-Speech (TTS) system, is a plug-in based dcop service
 that allows any KDE (or non-KDE) application to speak using the DCOP
 interface.
 .
 KTTS intends to be the implementation for the KDE Text-to-Speech API.
 .
 Features
 --------
  * Priority system for warnings and messages, while still playing
    regular text.
  * Long text is parsed into sentences.  User may backup by sentence or
    paragraph, replay, pause, and stop playing.
  * Speak contents of clipboard.
  * Speak KDE notification events (KNotify).
 .
 You must also install a speech synthesis engine, such as festival, flite,
 epos, freetts, or hadifix (MBROLA and txt2pho).  khelpcenter help:/kttsd/
 for links and suggestions for obtaining and installing synthesizers. 

Package: kttsd-dev
Architecture: any
Depends: kttsd, ${shlibs:Depends}
Description: KDE Text-to-Speech system API developer files
 These are files needed to develop KDE applications that use
 the KDE Text-to-Speech system.

Package: kttsd-appplugins
Architecture: any
Depends: kttsd, ${shlibs:Depends}
Description: KDE Text-to-Speech system application plugins
 These are plugins for various KDE applications to enable them to
 speak text via the KDE Text-to-Speech system.
 .
 Includes
 --------
  * A plugin for Konqueror web browser to enable speaking all or part
    of a web page.
  * A plugin for Kate text editor to enable speaking all or part of
    plain text.
  * A plugin for Kate embedded text editor to enable speaking all or
    part of plain text when running Kate embedded in Konqueror.
