[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=kttsmgr
GenericName=KDE Text-to-speech Manager
GenericName[bg]=Синтез на глас
GenericName[da]=KDE Tekst-til-tale håndtering
GenericName[ga]=Bainisteoir Téacs-go-Caint KDE
GenericName[hu]=Szövegfelolvasás-kezelő
GenericName[nl]=KDE Tekst-tot-spraak-beheerder
GenericName[pt]=Gestor do Texto para Fala do KDE
GenericName[pt_BR]=Gestor do Texto para Fala do KDE
GenericName[ru]=Управление синтезом речи
GenericName[sv]=KDE:s text-till-tal hantering
GenericName[uk]=Менеджер KDE для синтезу мовлення з тексту
Icon=kttsd
Exec=kttsmgr -caption "%c" %i %m %u
Comment=KDE Text-to-speech Manager
Comment[bg]=Мениджър на синтезатора на глас
Comment[da]=KDE's Tekst-til-tale håndtering
Comment[hu]=KDE-s szövegfelolvasás-kezelő
Comment[nl]=KDE Text To Speech-beheer
Comment[pt]=Gestor do Texto para Fala do KDE
Comment[pt_BR]=Gestor do Texto para Fala do KDE
Comment[ru]=Менеджер движков синтеза речи
Comment[sv]=KDE:s text-till-tal hantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு மேலாளர்
Comment[uk]=Менеджер KDE для синтезу мовлення з тексту
MimeTypes=
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
