[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=kttsmgr
Name[pt_BR]=Gerenciador ktts
Name[xx]=xxkttsmgrxx
GenericName=Text-to-Speech Manager
GenericName[bg]=Синтез на глас
GenericName[ca]=Gestor de text a veu
GenericName[da]=Tekst-til-tale håndtering
GenericName[de]=Verwaltung der Sprachausgabe
GenericName[et]=Teksti kõneks muutmise haldur
GenericName[fi]=Teksti puheeksi -hallintaohjelma
GenericName[ga]=Bainisteoir Téacs-go-Caint
GenericName[is]=Texti-í-tal stjóri
GenericName[it]=Gestore della pronuncia
GenericName[nl]=Tekst-tot-spraak-beheerder
GenericName[pt]=Gestor do Texto para Fala
GenericName[pt_BR]=Gerenciador de Conversão de Texto para Fala do KDE
GenericName[ru]=Управление синтезом речи
GenericName[sv]=Text-till-tal hantering
GenericName[ta]=உரையில் இருந்து பேச்சு மேலாளர்
GenericName[uk]=Менеджер для синтезу мовлення з тексту
GenericName[xx]=xxText-to-Speech Managerxx
Icon=kttsd
Exec=kttsmgr -caption "%c" %i %m %u
Comment=KDE Text-to-speech Manager
Comment[bg]=Мениджър на синтезатора на глас
Comment[ca]=Gestor de text a veu de KDE
Comment[da]=KDE's Tekst-til-tale håndtering
Comment[de]=KDE Verwaltung für Sprachausgabe
Comment[es]=Manejador de texto a voz para KDE
Comment[et]=KDE teksti kõneks muutmise haldur
Comment[fi]=KDE Teksti puheeksi -hallintaohjelma
Comment[fr]=Gestionnaire de synthèse vocale pour KDE
Comment[ga]=Bainisteoir Téacs-go-Caint KDE
Comment[hu]=KDE-s szövegfelolvasás-kezelő
Comment[is]=KDE texti-í-tal stjóri
Comment[it]=Gestore della pronuncia di KDE
Comment[nl]=KDE Text To Speech-beheer
Comment[pt]=Gestor do Texto para Fala do KDE
Comment[pt_BR]=Gerenciador de Conversão de Texto para Fala do KDE
Comment[ru]=Менеджер движков синтеза речи
Comment[sv]=KDE:s text-till-tal hantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு மேலாளர்
Comment[uk]=Менеджер KDE для синтезу мовлення з тексту
Comment[xx]=xxKDE Text-to-speech Managerxx
MimeTypes=
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
