[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=kttsmgr
Name[pt_BR]=Gerenciador ktts
Name[tr]=Kttsmgr
GenericName=Text-to-Speech Manager
GenericName[bg]=Синтез на глас
GenericName[ca]=Gestor de text a veu
GenericName[cs]=Správce zvukové syntézy
GenericName[da]=Tekst-til-tale håndtering
GenericName[de]=Sprachausgabeverwaltung
GenericName[el]=Διαχειριστής κειμένου-σε-ομιλία
GenericName[es]=Administrador de texto a voz
GenericName[et]=Teksti kõneks muutmise haldur
GenericName[eu]=Testutik hizketarako kudeatzailea
GenericName[fa]=مدیر متن به گفتار
GenericName[fi]=Teksti puheeksi -hallintaohjelma
GenericName[fr]=Gestionnaire de synthèse vocale
GenericName[ga]=Bainisteoir Téacs-go-Caint
GenericName[gl]=Xestor de Texto-para-Fala
GenericName[he]=מנהל טקסט לדיבור
GenericName[hu]=Szövegfelolvasás-kezelő
GenericName[is]=Texti-í-tal stjóri
GenericName[it]=Gestore della pronuncia
GenericName[ja]=テキスト読み上げマネージャ
GenericName[km]=ឧបករណ៍​គ្រប់គ្រង​អត្ថបទ​ដែល​ត្រូវ​និយាយ
GenericName[mk]=Менаџер за текст-во-говор
GenericName[ms]=Pengurus Teks-ke-Tutur
GenericName[mt]=Manaġer Test-għal-Vuċi
GenericName[nb]=Styring for tekst-til-tale
GenericName[nds]=Vörleespleger
GenericName[ne]=पाठ वाचक प्रबन्धक
GenericName[nl]=Tekst-tot-spraak-beheerder
GenericName[pa]=ਪਾਠ ਤੋਂ ਬੋਲੀ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer odczytywania tekstu
GenericName[pt]=Gestor do Texto para Fala
GenericName[pt_BR]=Gerenciador de Conversão de Texto para Fala do KDE
GenericName[ru]=Управление синтезом речи
GenericName[sk]=Text-na-reč manažér
GenericName[sl]=Upravitelj besedila v govor
GenericName[sr]=Менаџер за текст у говор
GenericName[sr@Latn]=Menadžer za tekst u govor
GenericName[sv]=Text-till-tal hantering
GenericName[ta]=உரையில் இருந்து பேச்சு மேலாளர்
GenericName[tg]=Идоракунии таҳлили овоз
GenericName[tr]=Metinden Konuşmaya Yöneticisi
GenericName[uk]=Менеджер для синтезу мовлення з тексту
GenericName[vi]=Trình quản lý Văn bản sang Tiếng nói
GenericName[zh_TW]=文字轉語音管理員
Icon=kttsd
Exec=kttsmgr -caption "%c" %i %m %u
Comment=KDE Text-to-speech Manager
Comment[bg]=Мениджър на синтезатора на глас
Comment[ca]=Gestor de text a veu de KDE
Comment[cs]=Správce hlasové syntézy KDE
Comment[da]=KDE's Tekst-til-tale håndtering
Comment[de]=KDE Verwaltung für Sprachausgabe
Comment[el]=KDE διαχειριστής κειμένου-σε-ομιλία
Comment[es]=Administrador de texto a voz de KDE
Comment[et]=KDE teksti kõneks muutmise haldur
Comment[eu]=KDE-ren testutik hizketarako kudeatzailea
Comment[fa]=مدیر متن به گفتار KDE
Comment[fi]=KDE Teksti puheeksi -hallintaohjelma
Comment[fr]=Gestionnaire de synthèse vocale pour KDE
Comment[ga]=Bainisteoir Téacs-go-Caint KDE
Comment[gl]=Xestor de Texto-para-fala de KDE
Comment[he]=מנהל טקסט לדיבור של KDE
Comment[hu]=KDE-s szövegfelolvasás-kezelő
Comment[is]=KDE texti-í-tal stjóri
Comment[it]=Gestore della pronuncia di KDE
Comment[ja]=KDE テキスト読み上げマネージャ
Comment[km]=ឧបករណ៍​គ្រប់គ្រង​អត្ថបទ​ដែល​ត្រូវ​និយាយ​របស់ KDE
Comment[mk]=Менаџер на KDE за текст-во-говор
Comment[ms]=Pengurus Teks-ke-tutur KDE
Comment[nb]=Styring for KDEs tekst-til-tale
Comment[nds]=Vörleespleger för KDE
Comment[ne]=केडीई पाठ वाचक प्रबन्धक
Comment[nl]=KDE Tekst-tot-spraak-beheer
Comment[pa]=KDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਮੈਨੇਜਰ
Comment[pl]=Menedżer odczytywania tekstu dla KDE
Comment[pt]=Gestor do Texto para Fala do KDE
Comment[pt_BR]=Gerenciador de Conversão de Texto para Fala do KDE
Comment[ru]=Менеджер движков синтеза речи
Comment[sk]=KDE text-na-reč manažér
Comment[sl]=Upravitelj besedila v govor v KDE
Comment[sr]=KDE-ов менаџер за текст у говор
Comment[sr@Latn]=KDE-ov menadžer za tekst u govor
Comment[sv]=KDE:s text-till-tal hantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு மேலாளர்
Comment[tg]=Идоракунандаи микшерҳои таҳлили овоз
Comment[tr]=KDE Metinden Konuşmaya yöneticisi
Comment[uk]=Менеджер KDE для синтезу мовлення з тексту
Comment[vi]=Trình quản lý Văn bản sang Tiếng nói KDE
Comment[zh_TW]=KDE 文字轉語音管理員
MimeTypes=
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
