[Desktop Entry]
Type=Service
Exec=kttsd
Icon=kttsd
ServiceTypes=DCOP/Text-to-Speech
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kttsd
X-KDE-StartupNotify=false
Name=KTTSD
Name[zh_TW]=KTTSd
Comment=KDE Text To Speech Daemon
Comment[bg]=Демон за управление на модула за синтез на глас
Comment[bs]=KDE Demon za izgovaranje teksta
Comment[ca]=Dimoni de text a veu de KDE
Comment[cs]=Démon hlasové syntézy KDE
Comment[da]=KDE's Tekst til tale-dæmon
Comment[de]=KDE Sprachausgabedienst
Comment[el]=KDE δαίμονας κειμένου-σε-ομιλία
Comment[es]=Demonio de KDE para la sí­ntesis de texto a voz
Comment[et]=KDE teksti kõneks muutmise deemon
Comment[eu]=KDE-ren testutik hizketarako deabrua
Comment[fa]=شبح متن به گفتار KDE
Comment[fi]=KDE Teksti puheeksi -palvelinohjelma
Comment[fr]=Démon de synthèse vocale pour KDE
Comment[ga]=Deamhan Téacs-Go-Caint KDE
Comment[gl]=Servizo Texto-para-Fala de KDE
Comment[he]=שירות הטקסט לדיבור של KDE
Comment[hu]=KDE szövegfelolvasó szolgáltatás
Comment[is]=KDE texti-í-tal púki
Comment[it]=Demone di pronuncia di KDE
Comment[ja]=KDE テキスト読み上げデーモン
Comment[ka]=KDE ტექსტის გახმოვანების დემონი
Comment[km]=ដេមិន​អត្ថបទ​ដែល​ត្រូវ​និយាយ​របស់ KDE
Comment[mk]=Даемон на KDE за текст-во-говор
Comment[ms]=Daemon Teks Ke Tutur KDE
Comment[nb]=KDE tekst-til-tale-nisse
Comment[nds]=Vörlees-Dämoon vun KDE
Comment[ne]=केडीई पाठ वाचक डेइमन
Comment[nl]=KDE Tekst-tot-spraak-daemon
Comment[pa]=KDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਡਾਈਮੋਨ
Comment[pl]=Usługa odczytywania tekstu dla KDE
Comment[pt]=Servidor do Texto para Fala do KDE
Comment[pt_BR]=Serviço de Conversão de Texto para Fala do KDE
Comment[ru]=Служба синтеза речи
Comment[sk]=Démon KDE text-na-reč
Comment[sl]=Demon KDE za besedilo v govor
Comment[sr]=KDE-ов демон за текст-у-говор
Comment[sr@Latn]=KDE-ov demon za tekst-u-govor
Comment[sv]=KDE:s text-till-tal demon
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு டெமான்
Comment[tg]=Демон таҳлили овоз
Comment[tr]=KDE Metinden Konuşmaya Artalan Süreci
Comment[uk]=Демон KDE синтезу мовлення з тексту
Comment[vi]=Trình nền Văn bản sang Tiếng nói KDE
Comment[zh_TW]=KDE 文字轉語音的常駐精靈

