[Desktop Entry]
Type=Service
Exec=kttsd
Icon=kttsd
ServiceTypes=DBUS/Text-to-Speech
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=KTTSD
Name[ar]=KTTSD
Name[be]=KTTSD
Name[bg]=KTTSD
Name[br]=KTTSD
Name[ca]=KTTSD
Name[cs]=KTTSD
Name[da]=KTTSD
Name[de]=KTTSD
Name[el]=KTTSD
Name[en_GB]=KTTSD
Name[eo]=KTTSD
Name[es]=KTTSD
Name[et]=KTTSD
Name[eu]=KTTSD
Name[fi]=KTTSD
Name[fr]=KTTSD
Name[ga]=KTTSD
Name[gl]=KTTSD
Name[he]=KTTSD
Name[hi]=केटीटीएसडी
Name[hne]=केटीटीएसडी
Name[hu]=KTTSD
Name[is]=KTTSD
Name[it]=KTTSD
Name[ja]=KTTSD
Name[km]=KTTSD
Name[ko]=KTTSD
Name[ku]=KTTSD
Name[lt]=KTTSD
Name[lv]=KTTSD
Name[mk]=KTTSD
Name[ml]=കെടിടിഎസ്ഡി
Name[ms]=KTTSD
Name[nb]=KTTSD
Name[nds]=KTTSD
Name[ne]=KTTSD
Name[nl]=KTTSD
Name[nn]=KTTSD
Name[oc]=KTTSD
Name[pa]=KTTSD
Name[pl]=KTTSD
Name[pt]=KTTSD
Name[pt_BR]=KTTSD
Name[ro]=KTTSD
Name[ru]=KTTSD
Name[sk]=KTTSD
Name[sl]=KTTSD
Name[sr]=КТТСД
Name[sr@latin]=KTTSD
Name[sv]=KTTSD
Name[ta]=KTTSD
Name[tg]=KTTSD
Name[tr]=KTTSD
Name[uk]=KTTSD
Name[vi]=KTTSD
Name[x-test]=xxKTTSDxx
Name[zh_CN]=K 语音精灵
Name[zh_TW]=KTTSd
Comment=KDE Text To Speech Daemon
Comment[ar]=عفريت نص-إلى-صوت لـ كي دي إي
Comment[bg]=Демон за управление на модула за синтез на глас
Comment[ca]=Dimoni de text a veu de KDE
Comment[cs]=Démon hlasové syntézy KDE
Comment[da]=KDE's Tekst til tale-dæmon
Comment[de]=KDE Sprachausgabedienst
Comment[el]=KDE δαίμονας κειμένου-σε-ομιλία
Comment[en_GB]=KDE Text To Speech Dæmon
Comment[es]=Servicio de KDE para la síntesis de texto a voz
Comment[et]=KDE teksti ettelugemise deemon
Comment[eu]=KDE-ren testutik hizketarako deabrua
Comment[fa]=شبح متن به گفتار KDE
Comment[fi]=KDE Teksti puheeksi -palvelinohjelma
Comment[fr]=Démon de synthèse vocale pour KDE
Comment[ga]=Deamhan Téacs-Go-Caint KDE
Comment[gl]=Servizo de Texto-para-Voz de KDE
Comment[he]=שירות הטקסט לדיבור של KDE
Comment[hi]=केडीई पाठ से वार्ता डेमन
Comment[hne]=केडीई पाठ से वार्ता डेमन
Comment[hu]=KDE szövegfelolvasó szolgáltatás
Comment[is]=KDE texti-í-tal púki
Comment[it]=Demone di pronuncia di KDE
Comment[ja]=KDE テキスト読み上げデーモン
Comment[km]=ដេមិន​អត្ថបទ​ដែល​ត្រូវ​និយាយ​របស់ KDE
Comment[ko]=KDE 텍스트 읽어주기 데몬
Comment[ku]=KDE Servîsa Axaftina Nivîsê 
Comment[lv]=KDE teksta izrunāšanas programma
Comment[mk]=Даемон на KDE за текст-во-говор
Comment[ml]=കെഡിഇ ലേഖന - വായനാ നിരന്തരപ്രവൃത്തി
Comment[ms]=Daemon Teks Ke Tutur KDE
Comment[nb]=KDE tekst-til-tale-nisse
Comment[nds]=Vörlees-Dämoon vun KDE
Comment[ne]=केडीई पाठ वाचक डेइमोन
Comment[nl]=KDE tekst-tot-spraak-daemon
Comment[nn]=Tekst til tale-teneste for KDE
Comment[pa]=KDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਡਾਈਮੋਨ
Comment[pl]=Usługa odczytywania tekstu dla KDE
Comment[pt]=Servidor do Texto-para-Fala do KDE
Comment[pt_BR]=Daemon do sintetizador de voz do KDE
Comment[ro]=Demonul Text-în-vorbire KDE
Comment[ru]=Служба синтеза речи
Comment[sk]=KDE text-na-reč Daemon
Comment[sl]=Demon KDE za besedilo v govor
Comment[sr]=КДЕ‑ов демон за текст‑у‑говор
Comment[sr@latin]=KDE‑ov demon za tekst‑u‑govor
Comment[sv]=KDE:s text-till-tal demon
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு டெமான்
Comment[tg]=Демон таҳлили овоз
Comment[tr]=KDE Metin Okuma Servisi
Comment[uk]=Фонова служба KDE синтезу мовлення з тексту
Comment[vi]=Trình nền Văn bản sang Tiếng nói KDE
Comment[x-test]=xxKDE Text To Speech Daemonxx
Comment[zh_CN]=KDE 语音合成守护进程
Comment[zh_TW]=KDE 文字轉語音的常駐精靈

