[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=kttsd
Icon=kttsd
ServiceTypes=DCOP/Text-to-Speech
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kttsd
X-KDE-StartupNotify=false
Name=KTTSD
Comment=KDE Text To Speech Daemon
Comment[bg]=Демон за управление на модула за синтез на глас
Comment[da]=KDE's Tekst til tale-dæmon
Comment[hu]=KDE szövegfelolvasó szolgáltatás
Comment[nl]=KDE Text To Speech-daemon
Comment[pt]=Servidor do Texto para Fala do KDE
Comment[pt_BR]=Servidor do Texto para Fala do KDE
Comment[sv]=KDE:s text-till-tal demon

