[Desktop Entry]
Encoding=UTF-8
Name=KTTSD aKode Plugin
Name[br]=Lugent aKode evit KTTSD
Name[da]=KTTSD aKode-plugin
Name[de]=KTTSD aKode-Plugin
Name[et]=KTTSD aKode plugin
Name[fr]=Module aKode pour KTTSD
Name[ga]=Breiseán KTTSD aKode
Name[pa]=KTTSD aKode ਪਲੱਗਿੰਨ
Name[sr]=aKode прикључак за KTTSD
Name[sr@Latn]=aKode priključak za KTTSD
Name[sv]=KTTSD-insticksprogram för aKode
Name[tr]=KTTSD aKode Eklentisi
Comment=KTTSD aKode audio plugin
Comment[bg]=Аудио приставка на KTTSD за aKode
Comment[br]=Lugent klevet aKode evit KTTSD
Comment[da]=KTTSD aKode lyd-plugin
Comment[de]=KTTSD aKode-Audio-Plugin
Comment[et]=KTTSD aKode audioplugin
Comment[fr]=Module audio aKode pour KTTSD
Comment[ga]=Breiseán fuaime KTTSD aKode
Comment[pa]=KTTSD aKode ਆਡੀਓ ਪਲੱਗਿੰਨ
Comment[sr]=aKode аудио прикључак за KTTSD
Comment[sr@Latn]=aKode audio priključak za KTTSD
Comment[sv]=KTTSD-ljudinsticksprogram för aKode
Comment[tr]=KTTSD aRts ses eklentisi
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_akodeplugin
