[Desktop Entry]
Name=String Replacer
Name[ar]=مستبدل النصوص
Name[ast]=Trocador de cadenes
Name[bg]=Замяна на низове
Name[bs]=Zamjenjuje tekstove
Name[ca]=Reemplaçador de cadenes
Name[ca@valencia]=Reemplaçador de cadenes
Name[cs]=Nahrazení řetězce
Name[da]=Streng-erstatter
Name[de]=Zeichenkettenersetzer
Name[el]=Αντικαταστάτης συμβολοσειρών
Name[en_GB]=String Replacer
Name[es]=Reemplazador de cadenas
Name[et]=Stringiasendaja
Name[eu]=Kate ordezkatzailea
Name[fa]=جایگزین‌کننده رشته
Name[fi]=Merkkijononkorvaaja
Name[fr]=Remplacement de chaînes
Name[ga]=Ionadóir Teaghrán
Name[gl]=Substitución de cadeas
Name[he]=מחליף מחרוזות
Name[hi]=वाक्यांश बदलने वाला
Name[hne]=वाक्यांस बदले वाला
Name[hr]=Zamjenik znakovnih nizova
Name[hu]=Sztringcserélő
Name[is]=Strengja útskiptir
Name[it]=Sostitutore di stringhe
Name[ja]=文字列置換
Name[kk]=Мәтін ауыстығышы
Name[km]=ឧបករណ៍​ជំនួស​ខ្សែ​អក្សរ
Name[ko]=문자열 대체
Name[ku]=Cih Guherkerê Rêzikê
Name[lt]=Eilučių pakeitiklis
Name[lv]=Teksta aizvietotājs
Name[mk]=Менувач на низи знаци
Name[ml]=വാചകം മാറ്റിവയ്ക്കുന്നവന്‍
Name[mr]=स्ट्रिंग बदलणारा
Name[ms]=Pengganti Rentetan
Name[nb]=Strengerstatter
Name[nds]=Tekenkeed-Tuscher
Name[ne]=स्ट्रिङ प्रतिस्थापक
Name[nl]=Tekstvervanger
Name[nn]=Teksterstattar
Name[pa]=ਸਤਰ ਤਬਦੀਲੀਕਾਰ
Name[pl]=Zastępowanie tekstu
Name[pt]=Substituição de Textos
Name[pt_BR]=Substituição de textos
Name[ro]=Înlocuitor de șiruri
Name[ru]=Автозамена
Name[sk]=Náhrada teťazca
Name[sl]=Zamenjevalnik nizov
Name[sq]=Zëvendësues i Rreshtit
Name[sr]=Замењивач ниски
Name[sr@ijekavian]=Замјењивач ниски
Name[sr@ijekavianlatin]=Zamjenjivač niski
Name[sr@latin]=Zamenjivač niski
Name[sv]=Strängersättning
Name[ta]=சர இடமாற்றி
Name[tg]=Ҷойивазкунии автоматӣ
Name[tr]=Metin Değiştirici
Name[ug]=تېكىست ئالماشتۇرغۇچ
Name[uk]=Заміна рядків
Name[vi]=Trình thay Chuỗi
Name[x-test]=xxString Replacerxx
Name[zh_CN]=字符串替换器
Name[zh_TW]=字串置換器
Comment=Generic String Replacement Filter Plugin for Jovie
Comment[bg]=Приставка филтър за замяна на низове за Jovie
Comment[bs]=Generički filterski priključak Jovie za zamjenu nizova znakova
Comment[ca]=Connector del filtre reemplaçador genèric de cadenes pel Jovie
Comment[ca@valencia]=Connector del filtre reemplaçador genèric de cadenes pel Jovie
Comment[cs]=Modul filtru náhrady řetězce Jovie
Comment[da]=Generisk strengerstatnings-filter-plugin til Jovie
Comment[de]=Ein allgemeines Modul zur Zeichenkettenersetzung für Jovie
Comment[el]=Γενικό πρόσθετο φίλτρου αντικατάστασης συμβολοσειρών για το Jovie
Comment[en_GB]=Generic String Replacement Filter Plugin for Jovie
Comment[es]=Complemento de filtro genérico de sustitución de cadenas para Jovie
Comment[et]=Jovie üldine stringiasendusfiltri plugin
Comment[eu]=Jovierentzako kateak ordezkatzeko iragazki plugin generikoa
Comment[fi]=Jovien yleinen merkkijononkorvaussuodinliitännäinen
Comment[fr]=Module externe de filtre générique de remplacement de chaînes pour Jovie
Comment[ga]=Ionadóir Teaghrán i mBreiseán Ginearálta Jovie
Comment[gl]=Complemento de filtro xenérico de substitución de cadeas para Jovie
Comment[hr]=Generički priključak za Jovie za filtriranje zamjena znakovnih nizova
Comment[hu]=Általános sztringcserélő modul a Jovie-hoz
Comment[is]=Almennt strengjaútskiptinga-íforrit fyrir Jovie
Comment[it]=Estensione generica per il filtro di sostituzione di stringhe per Jovie
Comment[ja]=Jovie 用汎用文字列置換フィルタプラグイン
Comment[kk]=Jovie-нің мәтін жолды ауыстыру жалпы сүзгі плагині
Comment[ko]=Jovie 일반적 문자열 대체 필터 플러그인
Comment[lt]=Bendro pobūdžio eilučių pakeitimo filtro priedas, skirtas Jovie
Comment[lv]=Vienkāršs teksta aizvietotāja filtra spraudnis priekš Jovie
Comment[nb]=Filter-programtillegg til Jovie for streng-erstatning
Comment[nds]=Jovie-Filtermoduul för dat Utwesseln vun Tekenkeden
Comment[nl]=Filter-plugin voor Jovie voor het vervangen van generieke teksten
Comment[nn]=Generelt teksterstattingstillegg for Jovie
Comment[pl]=Zwykła wtyczka filtra zastępowania ciągów znaków dla Jovie
Comment[pt]='Plugin' Genérico de Substituição de Textos para o Jovie
Comment[pt_BR]=Plugin genérico do filtro de substituição de textos para o Jovie
Comment[ru]=Модуль автозамены для Jovie
Comment[sk]=Všeobecný modul filtra náhrady reťazca pre Jovie
Comment[sr]=Генерички филтерски прикључак Џови за замену ниски
Comment[sr@ijekavian]=Генерички филтерски прикључак Џови за замјену ниски
Comment[sr@ijekavianlatin]=Generički filterski priključak Džovi za zamjenu niski
Comment[sr@latin]=Generički filterski priključak Džovi za zamenu niski
Comment[sv]=Insticksprogram för Jovie med generellt strängersättningsfilter
Comment[tr]=Jovie için Genel Metin Değiştirme Süzgeci Eklentisi
Comment[ug]=Jovie نىڭ ئادەتتىكى تېكىست ئالماشتۇرغۇچ سۈزگۈچ قىستۇرمىسى
Comment[uk]=Додаток загального фільтра заміни рядків для Jovie
Comment[x-test]=xxGeneric String Replacement Filter Plugin for Joviexx
Comment[zh_CN]=Jovie 的通用字符串替换过滤插件
Comment[zh_TW]=Jovie 使用的一般字串置換外掛程式
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=jovie_stringreplacerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
