[Desktop Entry]
Name=String Replacer
Comment=Generic String Replacement Filter Plugin for Jovie
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=jovie_stringreplacerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
