[Desktop Entry]
Name=String Replacer
Name[ar]=مستبدل النصوص
Name[bg]=Замяна на низове
Name[ca]=Reemplaçador de cadenes
Name[cs]=Nahrazení řetězce
Name[da]=Streng-erstatter
Name[de]=Zeichenkettenersetzer
Name[el]=Αντικαταστάτης συμβολοσειρών
Name[es]=Reemplazador de cadenas
Name[et]=Stringiasendaja
Name[eu]=Kate-ordezkatzailea
Name[fa]=جایگزین‌کنندۀ رشته
Name[fi]=Merkkijonojen korvaaja
Name[fr]=Remplacement de chaînes
Name[ga]=Ionadóir Teaghrán
Name[gl]=Subtitución de cadeas
Name[he]=מחליף מחרוזות
Name[hi]=वाक्यांश बदलने वाला
Name[hne]=वाक्यांस बदले वाला
Name[hu]=Sztringcserélő
Name[is]=Strengja útskiptir
Name[it]=Sostitutore di stringhe
Name[ja]=文字列置換
Name[km]=ឧបករណ៍​ជំនួស​ខ្សែ​អក្សរ
Name[ko]=문자열 대체
Name[ku]=Cih Guherkerê Rêzikê
Name[lt]=Eilučių pakeitiklis
Name[lv]=Teksta aizvietotājs
Name[mk]=Менувач на низи знаци
Name[ml]=വാചകം മാറ്റിവയ്ക്കുന്നവന്‍
Name[ms]=Pengganti Rentetan
Name[nb]=Strengerstatter
Name[nds]=Tekenkeed-Tuscher
Name[ne]=स्ट्रिङ प्रतिस्थापक
Name[nl]=Tekstvervanger
Name[nn]=Teksterstattar
Name[pa]=ਸਤਰ ਤਬਦੀਲੀਕਾਰ
Name[pl]=Zastępowanie tekstu
Name[pt]=Substituição de Textos
Name[pt_BR]=Substituidor de strings
Name[ro]=Înlocuitor de șiruri
Name[ru]=Автозамена
Name[sk]=Náhrada teťazca
Name[sl]=Zamenjevalnik nizov
Name[sr]=Замењивач ниски
Name[sr@latin]=Zamenjivač niski
Name[sv]=Strängersättning
Name[ta]=சர இடமாற்றி
Name[tg]=Ҷойивазкунии автоматӣ
Name[tr]=Metin Değiştirici
Name[uk]=Заміна рядків
Name[vi]=Trình thay Chuỗi
Name[x-test]=xxString Replacerxx
Name[zh_CN]=字符串替换器
Name[zh_TW]=字串置換器
Comment=Generic String Replacement Filter Plugin for KTTS
Comment[ar]=ملحق تصفية مستبدل النصوص العام لـ KTTS
Comment[bg]=Приставка филтър за замяна на низове за KTTS
Comment[ca]=Connector del filtre reemplaçador genèric de cadenes pel KTTS
Comment[cs]=Modul filtru náhrady řetězce KTTS
Comment[da]=Generisk strengerstatnings-filter-plugin for KTTS
Comment[de]=Ein generisches Modul zur Zeichenkettenersetzung für KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο αντικατάστασης συμβολοσειρών για το KTTS
Comment[es]=Complemento de filtro genérico de sustitución de cadenas para KTTS
Comment[et]=KTTS-i üldine stringiasendusfiltri plugin
Comment[eu]=KTTS-ren kateak ordezkatzeko iragazki-plugin generikoa
Comment[fa]=وصلۀ پالایۀ جایگزینی رشتۀ عمومی برای KTTS
Comment[fi]=KTTS-ohjelman liitännäinen, joka korvaa merkkijonoja
Comment[fr]=Module de filtrage de remplacement de chaînes génériques pour KTTS
Comment[ga]=Ionadóir Teaghrán i mBreiseán KTTS
Comment[gl]=Extensión cun filtro xenérico de substituición de cadeas para KTTS
Comment[hi]=केटीटीएस के लिए जेनेरिक वाक्यांश बदलने का फ़िल्टर प्लगइन
Comment[hne]=केटीटीएस बर जेनेरिक वाक्यांस बदले के छनइया प्लगइन
Comment[hu]=Általános sztringcserélő modul a KTTS-hez
Comment[is]=Almennt strengja útskiptinga íforrit fyrir KTTS
Comment[it]=Plugin generico per il filtro di sostituzione di stringhe per KTTS
Comment[ja]=KTTS 用汎用文字列置換フィルタプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​ការ​ជំនួស​ខ្សែ​អក្សរ​ទូទៅ​សម្រាប់ KTTS
Comment[ko]=KTTS 일반적 문자열 대체 필터 플러그인
Comment[ku]=Pêveka Parzûna Cih Guherkerê Rêzika Danasînê ji bo KTTS
Comment[lt]=Bendro pobūdžio eilučių pakeitimo filtro priedas, skirtas KTTS
Comment[lv]=Vienkāršs teksta aizvietotāja filtra spraudnis priekš KTTS
Comment[mk]=Филтер за KTTS за општа замена на низи знаци
Comment[ml]=വാചകം മാറ്റിവെക്കുന്നതിനായുള്ള കെടിടിഎസ്സിന്റെ സാമാന്യ‌ അരിപ്പസംയോജകം
Comment[ms]=Plugin Penapis Penggantian Rentetan Generik bagi KTTS
Comment[nb]=Filter-programtillegg til KTTS for streng-erstatning
Comment[nds]=KTTS-Filtermoduul för dat Utwesseln vun Tekenkeden
Comment[ne]=KTTS का लागि जेनेरीक स्ट्रिङ प्रतिस्थापन फिल्टर प्लगइन
Comment[nl]=Plugin voor KTTS voor het vervangen van generieke teksten
Comment[nn]=Generell teksterstattingstillegg for KTTS
Comment[pa]=KTTS ਲਈ ਆਮ ਸਤਰ ਬਦਲਣ ਫਿਲਟਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka zastępowania tekstu dla KTTS
Comment[pt]='Plugin' Genérico de Substituição de Textos para o KTTS
Comment[pt_BR]=Plug-in genérico do filtro de substituição de strings para o KTTS
Comment[ru]=Фильтр автозамены для KTTS
Comment[sk]=Všeobecný modul filtra náhrady reťazca v KTTS
Comment[sl]=Filtrni vstavek KTTS za generični zamenjevalnik nizov
Comment[sr]=Генерички филтерски прикључак КТТС‑а за замену ниски
Comment[sr@latin]=Generički filterski priključak KTTS‑a za zamenu niski
Comment[sv]=Insticksprogram för KTTS med generellt strängersättningsfilter
Comment[ta]=KTTSக்கான அலங்கார சொருகுபொருள் சர இடமாற்றி
Comment[tg]=Филтри худивазкунӣ барои KTTS
Comment[tr]=KTTS için Genel Metin Değiştirme Süzgeci Eklentisi
Comment[uk]=Втулок загального фільтра заміни рядків для KTTS
Comment[vi]=Trình bổ sung Lọc Thay Chuỗi Chung cho KTTS
Comment[x-test]=xxGeneric String Replacement Filter Plugin for KTTSxx
Comment[zh_CN]=KTTS 通用字符串替换过滤插件
Comment[zh_TW]=KTTS 使用的字串置換外掛程式
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_stringreplacerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
