[Desktop Entry]
Encoding=UTF-8
Name=String Replacer
Name[bg]=Замяна на низове
Name[ca]=Reemplaçador de cadenes
Name[cs]=Nahrazení řetězce
Name[da]=Streng-erstatter
Name[de]=Zeichenketten-Ersetzer
Name[el]=Αντικαταστάτης συμβολοσειρών
Name[es]=Reemplazador de cadenas
Name[et]=Stringiasendaja
Name[eu]=Kate-ordezkatzailea
Name[fi]=Tekstien korvaaja
Name[fr]=Remplacement de chaînes
Name[he]=מחליף מחרוזות
Name[hu]=Sztringcserélő
Name[is]=Strengja útskiptir
Name[it]=Sostitutore di stringhe
Name[ja]=文字列置換
Name[lt]=Eilučių pakeitiklis
Name[ms]=Pengganti Rentetan
Name[nb]=Strengerstatter
Name[nl]=Tekstvervanger
Name[pa]=ਸਤਰ ਤਬਦੀਲ
Name[pl]=Zastępowanie tekstu
Name[pt]=Substituição de Textos
Name[pt_BR]=Substituidor de Strings
Name[ru]=Автозамена
Name[sl]=Zamenjevalnik nizov
Name[sr]=Замењивач знаковних низова
Name[sr@Latn]=Zamenjivač znakovnih nizova
Name[sv]=Strängersättning
Name[ta]=சர இடமாற்றி
Name[tg]=Ҷойивазкунии автоматӣ
Name[tr]=Metin Değiştirici
Name[uk]=Заміна рядків
Comment=Generic String Replacement Filter Plugin for KTTS
Comment[bg]=Приставка филтър за замяна на низове за KTTS
Comment[ca]=Connector del filtre reemplaçador genèric de cadenes pel KTTS
Comment[cs]=Modul filtru náhrady řetězce KTTS
Comment[da]=Generisk strengerstatnings-filter-plugin for KTTS
Comment[de]=Ein generisches Modul zur Zeichenkettenersetzung für KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο αντικατάστασης συμβολοσειρών για το KTTS
Comment[es]=Extensión de filtro genérico de sustituición de cadenas para KTTS
Comment[et]=KTTS-i üldine stringiasendusfiltri plugin
Comment[eu]=KTTS-ren kateak ordezkatzeko iragazki-plugin generikoa
Comment[fi]=Yleinen tekstien korvaussuodatinliitännäinen KTTS-ohjelmaan
Comment[fr]=Module de filtrage de remplacement de chaînes générique pour KTTS
Comment[hu]=Általános sztringcserélő modul a KTTS-hez
Comment[is]=Almennt strengja útskiptinga íforrit fyrir KTTS
Comment[it]=Plugin generico per il filtro di sostituzione di stringhe per KTTS
Comment[ja]=KTTS 用汎用文字列置換フィルタプラグイン
Comment[lt]=Bendro pobūdžio eilučių pakeitimo filtro priedas, skirtas KTTS
Comment[ms]=Plugin Penapis Penggantian Rentetan Generik bagi KTTS
Comment[nb]=Filter-programtillegg til KTTS for streng-erstatning
Comment[nl]=Generieke tekst-vervang-filter-plugin voor KTTS
Comment[pl]=Wtyczka zastępowania tekstu dla KTTS
Comment[pt]='Plugin' Genérico de Substituição de Textos para o KTTS
Comment[pt_BR]=Plug-in de Filtro genérico de Substituição de Strings Para o KTTS
Comment[ru]=Фильтр автозамены для KTTS
Comment[sl]=Filtrni vstavek KTTS za generični zamenjevalnik nizov
Comment[sr]=Генерички филтерски прикључак KTTS-а за замену знаковних низова
Comment[sr@Latn]=Generički filterski priključak KTTS-a za zamenu znakovnih nizova
Comment[sv]=Insticksprogram för KTTS med generellt strängersättningsfilter
Comment[ta]=KTTSக்கான அலங்கார சொருகுபொருள் சர இடமாற்றி
Comment[tg]=Филтри худивазкунӣ барои KTTS
Comment[tr]=KTTS için Genel Metin Değiştirme Süzgeci Eklentisi
Comment[uk]=Втулок загального фільтра заміни рядків для KTTS
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_stringreplacerplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
