[Desktop Entry]
Encoding=UTF-8
Name=KTTSD GStreamer Plugin
Name[x-test]=xxKTTSD GStreamer Pluginxx
Comment=KTTSD GStreamer audio plugin
Comment[x-test]=xxKTTSD GStreamer audio pluginxx
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_gstplugin
