[Desktop Entry]
Encoding=UTF-8
Name=KTTSD GStreamer Plugin
Name[br]=Lugent KTTSD GStreamer
Name[da]=KTTSD GStreamer-plugin
Name[ga]=Breiseán KTTSD GStreamer
Name[hu]=KTTSD GStreamer-modul
Name[nl]=KTTSD GStreamer-plugin
Name[pt]='Plugin' GStreamer do KTTSD
Name[pt_BR]='Plugin' GStreamer do KTTSD
Name[ru]=Модуль GStreamer для KTTSD
Name[sv]=KTTSD Gstreamer-insticksprogram
Name[ta]=KTTSD GStreamer சொருகுப்பொருள்
Name[uk]=Втулок GStreamer для KTTSD
Comment=KTTSD GStreamer audio plugin
Comment[bg]=Аудио приставка на KTTSD за GStreamer
Comment[da]=KTTSD GStreamer lyd-plugin
Comment[hu]=KTTSD hangmodul a GStreamerhez
Comment[nl]=KTTSD GStreamer-audioplugin
Comment[pt]='Plugin' áudio GStreamer do KTTSD
Comment[pt_BR]='Plugin' áudio GStreamer do KTTSD
Comment[ru]=Модуль вывода звука KTTSD для GStreamer
Comment[sv]=KTTSD Gstreamer-ljudinsticksprogram
Comment[ta]=KTTSD GStreamer கேட்பொலி சொருகுப்பொருள்
Comment[uk]=Звуковий втулок GStreamer для KTTSD
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_gstplugin
