[Desktop Entry]
Name=Talker Chooser
Name[ar]=منتقي المتكلم
Name[ast]=Seleutor de lleutores
Name[bg]=Избор на глас
Name[bs]=Birač govornika
Name[ca]=Selector de parla
Name[ca@valencia]=Selector de parla
Name[cs]=Výběr hlasu
Name[da]=Vælger af oplæser
Name[de]=Sprecherauswahl
Name[el]=Επιλογή εκφωνητή
Name[en_GB]=Talker Chooser
Name[es]=Selector de lectores
Name[et]=Kõneleja valimine
Name[eu]=Talker Chooser
Name[fa]=انتخاب‌کننده گوینده
Name[fi]=Puhujanvalitsin
Name[fr]=Sélecteur de locuteur
Name[ga]=Roghnóir Cainteora
Name[gl]=Escolla de orador
Name[hi]=वार्ताकार चयनिक
Name[hne]=वार्ताकार चयनिक
Name[hr]=Govornički izbornik
Name[hu]=Hangválasztó
Name[is]=Talveljari
Name[it]=Selezione dell'oratore
Name[ja]=話者選択
Name[kk]=Дауыс таңдағышы
Name[km]=ឧបករណ៍​ជ្រើស​អ្នក​និយាយ
Name[ko]=화자 선택기
Name[ku]=Bijarkerê Axivbêj
Name[lt]=Kalbėtojo pasirinkimas
Name[lv]=Runātāja izvēle
Name[mk]=Избирач на говорникот
Name[ml]=സംസാരിയെ തെരഞ്ഞെടുക്കുന്നവന്‍
Name[ms]=Pemilih Penutur
Name[nb]=Snakkervelger
Name[nds]=Snacker-Köör
Name[ne]=वक्ता चयनकर्ता
Name[nl]=Spreker kiezen
Name[nn]=Val av talar
Name[pa]=ਬੋਲਚਾਲ ਚੋਣਕਾਰ
Name[pl]=Wybieranie Mówców
Name[pt]=Escolha do Locutor
Name[pt_BR]=Escolha do locutor
Name[ro]=Selector de vorbitor
Name[ru]=Диктор
Name[sk]=Voľba hovorcu
Name[sl]=Izbirnik govornika
Name[sq]=Përzgjedhës i të Folurit
Name[sr]=Бирач говорника
Name[sr@ijekavian]=Бирач говорника
Name[sr@ijekavianlatin]=Birač govornika
Name[sr@latin]=Birač govornika
Name[sv]=Urval av talare
Name[ta]=டாக்கர் தேர்ந்தெடுப்பான்
Name[tg]=Диктор
Name[tr]=Konuşmacı Seçici
Name[ug]=سۆزلىگۈچى تاللىغۇچ
Name[uk]=Вибір диктора
Name[vi]=Trình chọn Máy nói
Name[x-test]=xxTalker Chooserxx
Name[zh_CN]=朗读者选择器
Name[zh_TW]=語音選擇器
Comment=Generic Talker Chooser Filter Plugin for Jovie
Comment[bg]=Приставка за избор на глас за Jovie
Comment[bs]=Generički filterski priključak Jovie za biranje govornika
Comment[ca]=Connector del filtre selector genèric de parla pel Jovie
Comment[ca@valencia]=Connector del filtre selector genèric de parla pel Jovie
Comment[cs]=Modul filtru výběru hlasu Jovie
Comment[da]=Generisk vælger af oplæser til Jovie
Comment[de]=Ein allgemeines Modul zur Sprecherauswahl für Jovie
Comment[el]=Γενικό πρόσθετο φίλτρου επιλογής εκφωνητή για το Jovie
Comment[en_GB]=Generic Talker Chooser Filter Plugin for Jovie
Comment[es]=Complemento genérico de filtro de selección de locutor para Jovie
Comment[et]=Jovie üldine kõneleja valimise filtri plugin
Comment[eu]=Jovierentzako hizlariak hautatzeko iragazki plugin generikoa
Comment[fi]=Jovien puhujanvalitsimen suodinliitännäinen
Comment[fr]=Module externe de filtre générique de sélection de locuteur pour Jovie
Comment[ga]=Roghnóir Cainteora i mBreiseán Ginearálta Jovie
Comment[hr]=Generički priključak za Jovie za filtriranje govorničkog izbornika
Comment[hu]=Általános hangkiválasztó modul a Jovie-hoz
Comment[is]=Almennt talvalsíforrit fyrir Jovie
Comment[it]=Estensione generica per il filtro di scelta dell'oratore per Jovie
Comment[ja]=Jovie 用汎用話者選択フィルタプラグイン
Comment[kk]=Jovie-нің  дауысын таңдау жалпы сүзгі плагині
Comment[ko]=Jovie 일반적 화자 선택기 플러그인
Comment[lt]=Bendro pobūdžio kalbėtojo parinkimo filtro priedas, skirtas Jovie
Comment[lv]=Vienkāršs runātāja izvēles spraudnis priekš Jovie
Comment[nb]=Filter-programtillegg til Jovie for snakkervalg
Comment[nds]=Jovie-Filtermoduul för dat Utsöken vun den Snacker
Comment[nl]=Generieke filter-plugin voor Jovie om de spreker te kiezen 
Comment[nn]=Generelt tillegg for opplesarval i Jovie
Comment[pl]=Zwykła wtyczka filtra wybierania mówcy dla Jovie
Comment[pt]='Plugin' Genérico de Escolha do Locutor para o Jovie
Comment[pt_BR]=Plugin genérico do filtro de escolha do locutor para o Jovie
Comment[ru]=Модуль выбора диктора для Jovie
Comment[sk]=Všeobecný modul filra pre voľbu hovorcu pre Jovie
Comment[sr]=Генерички филтерски прикључак Џови за бирање говорника
Comment[sr@ijekavian]=Генерички филтерски прикључак Џови за бирање говорника
Comment[sr@ijekavianlatin]=Generički filterski priključak Džovi za biranje govornika
Comment[sr@latin]=Generički filterski priključak Džovi za biranje govornika
Comment[sv]=Insticksprogram för Jovie med generellt urvalsfilter för talare
Comment[tr]=Jovie için Genel Konuşmacı Seçim Süzgeci Eklentisi
Comment[ug]=Jovie نىڭ ئادەتتىكى سۆزلىگۈچى تاللىغۇچ سۈزگۈچ قىستۇرمىسى
Comment[uk]=Загальний додаток фільтра вибору диктора для Jovie
Comment[x-test]=xxGeneric Talker Chooser Filter Plugin for Joviexx
Comment[zh_CN]=Jovie 通用朗读者选择过滤插件
Comment[zh_TW]=Jovie 使用的一般語音選擇外掛程式
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=jovie_talkerchooserplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
