[Desktop Entry]
Name=Talker Chooser
Comment=Generic Talker Chooser Filter Plugin for Jovie
Type=Service
ServiceTypes=Jovie/FilterPlugin
X-KDE-Library=jovie_talkerchooserplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
