[Desktop Entry]
Encoding=UTF-8
Name=Talker Chooser
Name[bg]=Избор на глас
Name[ca]=Selector de parla
Name[cs]=Výběr hlasu
Name[da]=Vælger af oplæser
Name[de]=Sprecherauswahl
Name[el]=Επιλογή εκφωνητή
Name[es]=Selector de lectores
Name[et]=Kõneleja valimine
Name[fa]=انتخاب‌کنندۀ گوینده
Name[fi]=Puhujan valitsin
Name[fr]=Sélecteur de voix
Name[ga]=Roghnóir Cainteora
Name[gl]=Escolla de Locutor
Name[hu]=Hangválasztó
Name[is]=Talveljari
Name[it]=Selezione dell'oratore
Name[ja]=話者選択
Name[ka]=მოლაპარაკის ამომრჩეველი
Name[km]=ឧបករណ៍​ជ្រើស​អ្នក​និយាយ
Name[mk]=Избирач на говорникот
Name[ms]=Pemilih Penutur
Name[nb]=Snakkervelger
Name[nds]=Snacker-Utwahl
Name[ne]=वक्ता चयनकर्ता
Name[nl]=Spreker kiezen
Name[pa]=ਬੋਲਚਾਲ ਚੋਣਕਾਰ
Name[pl]=Wybieranie Mówców
Name[pt]=Escolha de Orador
Name[pt_BR]=Escolha do Talker
Name[ru]=Диктор
Name[sk]=Voľba hovorcu
Name[sl]=Izbirnik govornika
Name[sr]=Бирач говорника
Name[sr@Latn]=Birač govornika
Name[sv]=Urval av talare
Name[ta]=டாக்கர் தேர்ந்தெடுப்பான்
Name[tg]=Диктор
Name[tr]=Konuşmacı Seçici
Name[uk]=Вибір диктора
Name[vi]=Trình chọn Máy nói
Name[zh_TW]=語音選擇器
Comment=Generic Talker Chooser Filter Plugin for KTTS
Comment[bg]=Приставка за избор на глас за KTTS
Comment[ca]=Connector del filtre selector genèric de parla pel KTTS
Comment[cs]=Modul filtru výběru hlasu KTTS
Comment[da]=Generisk vælger af oplæser for KTTS
Comment[de]=Generischer Sprecherauswahlfilter für KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο επιλογής εκφωνητή για το KTTS
Comment[es]=Complemento de audio para KTTSD
Comment[et]=KTTS-i üldine kõneleja valimise filtri plugin
Comment[eu]=KTTS-ren hizlariak hautatzeko iragazk-plugin generikoa
Comment[fa]=وصلۀ پالایۀ انتخاب‌کنندۀ گویندۀ عمومی برای KTTS
Comment[fi]=Yleinen puhujan valitsin suodatin liitännäinen KTTS-ohjelmalle
Comment[fr]=Module de filtrage de sélection de voix pour KTTS
Comment[gl]=Plugin para Escoller o Locutor para KTTS
Comment[hu]=Általános hangkiválasztó modul a KTTS-hez
Comment[is]=Almennt talvalsíforrit fyrir KTTS
Comment[it]=Plugin generico per il filtro di scelta dell'oratore per KTTS
Comment[ja]=KTTS 用汎用話者選択フィルタプラグイン
Comment[ka]=მოლაპარაკის ამომრჩეველის ზოგადი ფილტრის მოდული KTTS-სთვის
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍​ជ្រើស​រើស​អ្នក​និយាយ​ទូទៅ​សម្រាប់ KTTS
Comment[mk]=Филтер за KTTS за избирач на општ говорник
Comment[ms]=Plugin Penapis Pemilih Penutur Generik bagi KTTS
Comment[nb]=Filter-programtillegg til KTTS for snakkervalg
Comment[nds]=KTTS-Filtermoduul för dat Utsöken vun den Snacker
Comment[ne]=KTTS का लागि जेनेरीक वक्ता चयनकर्ता फिल्टर प्लगइन
Comment[nl]=Generieke plugin om de spreker te kiezen voor KTTS
Comment[pa]=KTTS ਲਈ ਸਧਾਰਨ ਬੋਲੀ ਚੋਣਕਾਰ ਫਿਲਟਰ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka wyboru Mówców dla KTTS
Comment[pt]='Plugin' Genérico de Escolha de Orador para o KTTS
Comment[pt_BR]=Plug-in de Filtro Genérico Para Escolha do Talker do KTTS
Comment[ru]=Фильтр выбора диктора для KTTS
Comment[sk]=Všeobecný modul filra na voľbu hovorcu v KTTS
Comment[sl]=Filtrni vstavek KTTS za generični izbirnik govorca
Comment[sr]=Генерички филтерски прикључак KTTS-а за бирач говорника
Comment[sr@Latn]=Generički filterski priključak KTTS-a za birač govornika
Comment[sv]=Insticksprogram för KTTS med generellt urvalsfilter för talare
Comment[ta]=KTTS க்கான ஜெனரிக் பேச்சாளர் தேர்ந்தெடுப்பான அலங்கார சொருகுப்பொருள்
Comment[tg]=Филтри интихоби диктор барои KTTS
Comment[tr]=KTTS için Genel Konuşma Seçici Süzgeci Eklentisi
Comment[uk]=Загальний втулок Фільтра вибору диктора для KTTS
Comment[vi]=Trình bổ sung Lọc Chọn Máy nói Chung cho KTTS
Comment[zh_TW]=KTTS 使用的語音選擇外掛程式
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_talkerchooserplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
