[Desktop Entry]
Encoding=UTF-8
Name=Talker Chooser
Name[el]=Επιλογή εκφωνητή
Name[fr]=Sélecteur de voix
Name[x-test]=xxTalker Chooserxx
Comment=Generic Talker Chooser Filter Plugin for KTTS
Comment[el]=Γενικό φίλτρο πρόσθετο επιλογής εκφωνητή για το KTTS
Comment[fr]=Module de filtrage de sélection de voix pour KTTS
Comment[x-test]=xxGeneric Talker Chooser Filter Plugin for KTTSxx
Type=Service
ServiceTypes=KTTSD/FilterPlugin
X-KDE-Library=libkttsd_talkerchooserplugin
X-KDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl
