[Desktop Entry]
Encoding=UTF-8
Name=KTTSD Arts Plugin
Name[br]=Lugent KTTSD Arts
Name[da]=KTTSD Arts-plugin
Name[ga]=Breiseán KTTSD Arts
Name[hu]=KTTSD aRts-modul
Name[nl]=KTTSD Arts-plugin
Name[pt]='Plugin' Arts do KTTSD
Name[pt_BR]='Plugin' Arts do KTTSD
Name[ru]=Модуль Arts для KTTSD
Name[sv]=KTTSD aRts-insticksprogram
Name[ta]=KTTSD ஆர்ட்ஸ் சொருகுப்பொருள்
Name[uk]=Втулок Arts для KTTSD
Comment=KTTSD aRts audio plugin
Comment[bg]=Аудио приставка на KTTSD за aRts
Comment[da]=KTTSD aRts lyd-plugin
Comment[hu]=KTTSD hangmodul az aRts-hez
Comment[nl]=KTTSD aRts-audioplugin
Comment[pt]='Plugin' áudio aRts do KTTSD
Comment[pt_BR]='Plugin' áudio aRts do KTTSD
Comment[ru]=Модуль вывода звука KTTSD для aRts
Comment[sv]=KTTSD aRts-ljudinsticksprogram
Comment[ta]=KTTSD aRts கேட்பொலி சொருகுப்பொருள்
Comment[uk]=Звуковий втулок aRts для KTTSD
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_artsplugin
