[Desktop Entry]
Encoding=UTF-8
Name=KTTSD Arts Plugin
Name[x-test]=xxKTTSD Arts Pluginxx
Comment=KTTSD aRts audio plugin
Comment[x-test]=xxKTTSD aRts audio pluginxx
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_artsplugin
