[Desktop Entry]
Encoding=UTF-8
Name=KTTSD Arts Plugin
Name[br]=Lugent KTTSD Arts
Name[bs]=KTTSD Arts dodatak
Name[ca]=Connector Arts per KTTSD
Name[cs]=KTTSD Arts modul
Name[da]=KTTSD Arts-plugin
Name[de]=KTTSD Arts-Plugin
Name[el]=KTTSD πρόσθετο Arts
Name[et]=KTTSD Artsi plugin
Name[fi]=KTTSD Arts -liitännäinen
Name[fr]=Module Arts pour KTTSD
Name[ga]=Breiseán KTTSD Arts
Name[hu]=KTTSD aRts-modul
Name[is]=KTTSD Arts íforrit
Name[it]=Plugin per Arts di KTTSD
Name[nb]=Arts programtillegg for KTTSD
Name[nl]=KTTSD Arts-plugin
Name[pl]=Wtyczka aRts KTTSD
Name[pt]='Plugin' Arts do KTTSD
Name[pt_BR]=Plug-in do Arts para o KTTSD
Name[ru]=Модуль Arts для KTTSD
Name[sl]=Vstavek KTTSD za aRts
Name[sr]=Arts као прикључак за KTTSD
Name[sr@Latn]=Arts kao priključak za KTTSD
Name[sv]=KTTSD-insticksprogram för aRts
Name[ta]=KTTSD ஆர்ட்ஸ் சொருகுப்பொருள்
Name[tg]=KTTSD модули фарҳанг
Name[uk]=Втулок Arts для KTTSD
Comment=KTTSD aRts audio plugin
Comment[bg]=Аудио приставка на KTTSD за aRts
Comment[br]=Lugent klevet Arts evit KTTSD
Comment[ca]=Connector d'àudio aRts per KTTSD
Comment[cs]=KTTSD aRts zvukový modul
Comment[da]=KTTSD aRts lyd-plugin
Comment[de]=KTTSD aRts Audio-Plugin
Comment[el]=KTTSD πρόσθετο ήχου aRts
Comment[et]=KTTSD aRts'i audioplugin
Comment[fi]=KTTSD aRts ääniliitännäinen
Comment[fr]=Module audio Arts pour KTTSD
Comment[ga]=Breiseán fuaime KTTSD aRts
Comment[hu]=KTTSD hangmodul az aRts-hez
Comment[is]=KTTSD aRts hljóð íforrit
Comment[it]=Plugin audio per aRts di KTTSD
Comment[nb]=aRts lyd-programtillegg for KTTSD
Comment[nl]=KTTSD aRts-audioplugin
Comment[pl]=Wtyczka dźwięku aRts dla KTTSD
Comment[pt]='Plugin' áudio aRts do KTTSD
Comment[pt_BR]=Plug-in de áudio do Arts para o KTTSD
Comment[ru]=Модуль вывода звука KTTSD через aRts
Comment[sl]=Vstavek KTTSD za zvok v aRts
Comment[sr]=Arts као аудио прикључак за KTTSD
Comment[sr@Latn]=Arts kao audio priključak za KTTSD
Comment[sv]=KTTSD-ljudinsticksprogram för aRts
Comment[ta]=KTTSD aRts கேட்பொலி சொருகுப்பொருள்
Comment[tg]=KTTSD фарҳанги модули аудио
Comment[uk]=Звуковий втулок aRts для KTTSD
Type=Service
ServiceTypes=KTTSD/AudioPlugin
X-KDE-Library=libkttsd_artsplugin
