[Desktop Entry]
Type=Service
Exec=kcmshell4 kcmkttsd
Icon=preferences-desktop-text-to-speech
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=jovie/index.html

X-KDE-Library=kcm_kttsd
X-KDE-Init-Symbol=KCMKttsdMgr
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=accessibility

Name=Text-to-Speech
Comment=Text-to-Speech Control Module

NoDisplay=false
StartupNotify=false
StartupWMClass=

Categories=Qt;KDE;X-KDE-settings-accessibility;
X-KDE-Keywords=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice

X-KDE-SubstituteUID=false
Terminal=false
