[Desktop Entry]
Encoding=UTF-8
NoDisplay=true
Name=The text-to-speech system seems to be functioning properly.
Name[ar]=نظام نص-إلى-صوت يعمل بشكل جيد ظاهرياً.
Name[bg]=Системата за синтез на глас изглежда, че функционира нормално.
Name[ca]=El sistema de text a veu sembla que funciona correctament.
Name[cs]=Zdá se, že systém hlasové syntézy funguje správně.
Name[da]=Tekst-til-tale systemet synes at virke rigtigt.
Name[de]=Die Sprachausgabe scheint ordnungsgemäß zu funktionieren.
Name[el]=Το σύστημα κειμένου-σε-ομιλία φαίνεται να λειτουργεί κανονικά.
Name[es]=El sintetizador de texto a voz parece estar funcionando correctamente.
Name[et]=Teksti kõneks muutmise süsteem paistab korralikult töötavat.
Name[eu]=Testutik-hizketarako sistemak ongi funtzionatzen duela dirudi.
Name[fa]=به نظر می‌رسد که سیستم متن به گفتار درست عمل می‌کند.
Name[fi]=Teksti puheeksi -järjestelmä näyttää toimivan hyvin.
Name[fr]=Le système de synthèse vocale semble fonctionner correctement.
Name[ga]=Dealraíonn sé go bhfuil an córas téacs-go-caint ag obair mar is ceart.
Name[gl]=O sistema de texto-para-fala parece estar a funcionar correctamente.
Name[he]=נראה כי מערכת הטקסט לדיבור עובדת כהלכה.
Name[hu]=A szövegfelolvasó rendszer megfelelően működik.
Name[is]=Texti-í-tal kerfið virðist virka eðlilega.
Name[it]=Il sistema di pronuncia pare funzionare correttamente.
Name[ja]=テキスト読み上げシステムは正しく動作しているようです。
Name[km]=ប្រព័ន្ធ​អត្ថបទ​ដែល​ត្រូវ​និយាយ​ហាក់ដូចជា​មាន​មុខងារ​ត្រឹមត្រូវ ។
Name[mk]=Изгледа дека системот за текст-во-говор функционира како што треба.
Name[ms]=Sistem teks-ke-Tutur berfungsi dengan baik.
Name[nb]=Tekst-til-tale-systemet ser ut til å virke som det skal.
Name[nds]=As dat lett funkscheneert de Vörleser as he schall.
Name[ne]=पाठ वाचक प्रणालीले ठीक रुपमा कार्य गर्ने देखिन्छ
Name[nl]=Het tekst-tot-spraaksysteem blijkt goed te functioneren.
Name[pa]=ਇੱਕ ਪਾਠ ਤੋਂ ਬੋਲੀ ਸੰਸਲੇਸ਼ਣ ਸਿਸਟਮ, ਜੋ ਕਿ ਠੀਕ ਤਰਾਂ ਕੰਮ ਕਰਦਾ ਜਾਪਦਾ ਹੈ।
Name[pl]=System odczytywania tekstu funkcjonuje prawidłowo.
Name[pt]=O sistema de texto-para-voz parece estar a funcionar correctamente.
Name[pt_BR]=O sistema de texto-para-voz parece estar a funcionar correctamente.
Name[ru]=Система синтеза речи работает нормально.
Name[sl]=Sistem besedila v govor očitno deluje pravilno.
Name[sr]=Систем текст-у-говор изгледа да функционише исправно.
Name[sr@latin]=Sistem tekst-u-govor izgleda da funkcioniše ispravno.
Name[sv]=Text till tal-systemet verkar fungera som det ska.
Name[ta]=உரையில் இருந்து பேச்சு அமைப்பு சரியாக இயங்குகிறது.
Name[tg]=Системаи таҳлили овоз мӯътадил кор мекунад.
Name[tr]=Metinden Konuşmaya sistemi düzgün çalışıyor.
Name[uk]=Система синтезу мовлення з тексту функціонує правильно.
Name[x-test]=xxThe text-to-speech system seems to be functioning properly.xx
Name[zh_TW]=文字轉語音的系統已正常運作。
