[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Text-to-Speech
Name[bg]=Синтез на глас
Name[ca]=Text a veu
Name[cy]=Testun-i-Leferydd
Name[da]=Tekst-til-tale
Name[de]=Sprachausgabe
Name[es]=Texto a voz
Name[et]=Tekst kõneks
Name[fi]=Teksti puheeksi
Name[fr]=Synthèse vocale
Name[ga]=Téacs-go-Caint
Name[hu]=Szövegfelolvasás
Name[is]=Texti-í-tal
Name[it]=Pronuncia
Name[nl]=Tekst-tot-spraak
Name[pt]=Texto-para-Fala
Name[pt_BR]=Conversão de texto para fala
Name[sv]=Text-till-tal
Name[ta]=உரையில் இருந்து பேச்சுக்கு
Name[uk]=Синтез мовлення з тексту
Name[xx]=xxText-to-Speechxx
Comment=Text-to-Speech Control Module
Comment[bg]=Модул за синтез на глас
Comment[ca]=Mòdul de control de text a veu
Comment[da]=Kontrolmodul for tekst-til-tale
Comment[de]=Kontrollmodul für die Sprachausgabe
Comment[es]=Modulo de control del sintetizador texto a voz
Comment[et]=Juhtimiskeskuse teksti kõneks muutmise moodul
Comment[fi]=Teksti puheeksi -hallintamoduuli
Comment[fr]=Module de configuration de la synthèse vocale
Comment[ga]=Modúl Rialaithe Téacs-go-Caint
Comment[hu]=Beállítómodul a szövegfelolvasóhoz
Comment[is]=Texti-í-tal stjórneining
Comment[it]=Modulo di controllo di pronuncia
Comment[nl]=Tekst-tot-spraak configuratiemodule
Comment[pt]=Módulo de Controlo de Texto-para-Fala
Comment[pt_BR]=Módulo de Controle de conversão de texto para fala
Comment[ru]=Модуль Центра конфигурации синтеза речи
Comment[sv]=Text-till-tal inställningsmodul
Comment[ta]=உரையில் இருந்து பேச்சு கட்டுப்பாட்டு பகுதி
Comment[uk]=Модуль керування синтезом мовлення з тексту
Comment[xx]=xxText-to-Speech Control Modulexx
ServiceTypes=Application,KCModule
DocPath=kttsd
NoDisplay=false
StartupNotify=false
StartupWMClass=
Exec=kcmshell kcmkttsd
Icon=kttsd
Categories=Qt;KDE;X-KDE-settings-accessibility;
Keywords=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice
Keywords[bg]=синтез, глас, говор, текст, kttsd, kcmkttsmgr, kttsmgr, tts, ttsd, ktts, text, to, speech, speak, synthesizer, synth, festival, command, freetts, proklam, via, voice
Keywords[br]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,skrid,da,prezegenn,komz,synthesizer,synth,festival,urzhiad,freetts,proklam,via,mouezh
Keywords[da]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,til,tale,tal,synthesizer,synth,festival,kommando,freetts,proklam,via,stemme
Keywords[es]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto,a,voz,habla, sintetizador,festival,freetts,proklam,via,voice
Keywords[et]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,kõneks,kõne,süntesaator,festival,käsk,freetts,proklam,hääl
Keywords[fr]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texte,to,prononcer,énoncer,synthétiseur,synth,festival,command,freetts,proklam,via,voix
Keywords[hu]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,szöveg,hang,beszéd,beszél,szintetizátor,szintetizálás,festival,parancs,freetts,proklam,via,voice
Keywords[is]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,texti,í,tal,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice
Keywords[it]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,pronuncia,parlare,sintetizzatore,synth,festival,comando,freetts,proklam,via,voce
Keywords[nl]=kttsd,tts,ttsd,ktts,text to speech,praten,synthesizer,synth,festival,command,freetts,proklam,via voice,spraakprogramma,geluid,stem,tekst tot spraak,spreken,computerstem
Keywords[pt]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto,fala,falar,sintetizador,festival,comandar,freetts,proklam,via,voice
Keywords[pt_BR]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto,fala,conversa, sintentizador,ynth,festival,command,freetts,proklam,via,voz
Keywords[ru]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text-to-speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,голос,речь,синтез,синтез речи
Keywords[sv]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,till,tal,läsa,syntes,synt,festival,kommando,freetts,proklam,via,röst
Keywords[uk]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,мовлення,синтез,голос,текст,команда,через
Keywords[xx]=xxkttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voicexx
X-KDE-FactoryName=kttsd
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-ModuleType=Library
X-KDE-Library=kttsd
Terminal=false
