[Desktop Entry]
Type=Service
Exec=kcmshell4 kcmkttsd
Icon=preferences-desktop-text-to-speech
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=jovie/index.html

X-KDE-Library=kcm_kttsd
X-KDE-Init-Symbol=KCMKttsdMgr
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=accessibility

Name=Text-to-Speech
Name[ar]=نص-إلى-صوت
Name[ast]=Testu a voz
Name[be]=Прагаворванне тэксту
Name[bg]=Екранен четец
Name[bs]=Tekst‑u‑govor
Name[ca]=Text a veu
Name[ca@valencia]=Text a veu
Name[cs]=Hlasová syntéza
Name[cy]=Testun-i-Leferydd
Name[da]=Tekst-til-tale
Name[de]=Sprachausgabe
Name[el]=Κείμενο-σε-ομιλία
Name[en_GB]=Text-to-Speech
Name[eo]=Teksto-al-Parolo
Name[es]=Texto a voz
Name[et]=Teksti ettelugemine
Name[eu]=Testutik hizketara
Name[fa]=متن به گفتار
Name[fi]=Puhesyntetisaattori
Name[fr]=Synthèse vocale
Name[ga]=Téacs-go-Caint
Name[gl]=Texto-para-Voz
Name[he]=טקסט לדיבור
Name[hi]=पाठ-से-वार्ता
Name[hne]=पाठ-से-वार्ता
Name[hr]=Tekst u govor
Name[hu]=Szövegfelolvasó
Name[is]=Texti-í-tal
Name[it]=Pronuncia
Name[ja]=テキスト読み上げ
Name[kk]=Мәтінді дауыстап оқу
Name[km]=អត្ថបទ​ដែល​ត្រូវ​និយាយ
Name[ko]=텍스트 읽어주기
Name[ku]=Axaftina Nivîsarê
Name[lt]=Teksto vertimas kalba
Name[lv]=Teksta izrunāšana
Name[mk]=Текст-во-говор
Name[ml]=ലേഖനം വായനയാക്കാന്‍
Name[ms]=Teks-ke-Tutur
Name[nb]=Tekst til tale
Name[nds]=Vörleser
Name[ne]=पाठ वाचक
Name[nl]=Tekst-naar-spraak
Name[nn]=Tekst til tale
Name[pa]=ਪਾਠ ਤੋਂ ਬੋਲੀ
Name[pl]=Odczytywanie tekstu
Name[pt]=Texto-para-Fala
Name[pt_BR]=Sintetizador de voz
Name[ro]=Text-în-vorbire
Name[ru]=Синтез речи
Name[sk]=Text-na-reč
Name[sl]=Besedilo v govor
Name[sq]=Text-to-Speech
Name[sr]=Текст‑у‑говор
Name[sr@ijekavian]=Текст‑у‑говор
Name[sr@ijekavianlatin]=Tekst‑u‑govor
Name[sr@latin]=Tekst‑u‑govor
Name[sv]=Text-till-tal
Name[ta]=உரையில் இருந்து பேச்சுக்கு
Name[tg]=Таҳлили овоз
Name[tr]=Metin Okuma
Name[ug]=تېكىستتىن ئاۋازغا
Name[uk]=Синтез мовлення з тексту
Name[vi]=Văn bản sang Tiếng nói
Name[x-test]=xxText-to-Speechxx
Name[zh_CN]=语音合成(TTS)
Name[zh_TW]=文字轉語音
Comment=Text-to-Speech Control Module
Comment[ar]=وحدة تحكم نص-إلى-صوت
Comment[ast]=Modulu de control del sintetizador testu a voz
Comment[bg]=Модул за екранен четец
Comment[bs]=Kontrolni modul za konverziju teksta u govor
Comment[ca]=Mòdul de control de text a veu
Comment[ca@valencia]=Mòdul de control de text a veu
Comment[cs]=Modul ovládání hlasové syntézy
Comment[da]=Kontrolmodul for tekst-til-tale
Comment[de]=Kontrollmodul für die Sprachausgabe
Comment[el]=Άρθρωμα ελέγχου κειμένου-σε-ομιλία
Comment[en_GB]=Text-to-Speech Control Module
Comment[es]=Módulo de control del sintetizador texto a voz
Comment[et]=Juhtimiskeskuse teksti ettelugemise moodul
Comment[eu]=Testutik hizketarako modulua
Comment[fa]=پیمانه کنترل متن به گفتار
Comment[fi]=Puhesyntetisaattorin hallinta
Comment[fr]=Module de configuration de la synthèse vocale
Comment[ga]=Modúl Rialaithe Téacs-go-Caint
Comment[gl]=Módulo de Control do Texto-para-Voz
Comment[he]=מודול מרכז בקרה עבור טקסט לדיבור
Comment[hi]=पाठ से वार्ता नियंत्रक मॉड्यूल
Comment[hne]=पाठ से वार्ता नियंत्रक माड्यूल
Comment[hr]=Kontrolni modul za pretvorbu teksta u govor
Comment[hu]=A szövegfelolvasó szolgáltatás beállításai
Comment[is]=Texti-í-tal stjórneining
Comment[it]=Modulo di controllo di pronuncia
Comment[ja]=テキスト読み上げ制御モジュール
Comment[kk]=Мәтінді дауыстап оқуды басқару модулі
Comment[km]=ម៉ូឌុល​ត្រួត​ពិនិត្យ​​អត្ថបទ​ដែល​ត្រូវ​និយាយ
Comment[ko]=텍스트 읽어주기 제어 모듈
Comment[ku]=Modûla Kontrola Axaftina Nivîsê 
Comment[lt]=Teksto keitimo į kalbą valdymo modulis
Comment[lv]=Teksta izrunāšanas kontroles modulis
Comment[mk]=Контролен модул за текст-во-говор
Comment[ml]=ലേഖന - വായനാ നിയന്ത്രണ ഘടകം
Comment[ms]=Modul Kawalan Teks-ke-Tutur
Comment[nb]=Styremodul for tekst-til-tale
Comment[nds]=Kuntrullmoduul för den Vörleser
Comment[ne]=पाठ वाचक नियन्त्रण मोड्युल
Comment[nl]=Tekst-tot-spraak Configuratiemodule
Comment[nn]=Kontrollmodul for tekst til tale
Comment[pa]=ਪਾਠ ਤੋਂ ਬੋਲੀ ਕੰਟਰੋਲ ਮੋਡੀਊਲ
Comment[pl]=Moduł konfiguracji odczytywania tekstu
Comment[pt]=Módulo de Controlo do Texto-para-Fala
Comment[pt_BR]=Módulo de controle do sintetizador de voz
Comment[ro]=Modul de control text-în-vorbire
Comment[ru]=Настройка синтеза речи
Comment[sk]=Riadiaci modul text-na-reč
Comment[sl]=Nadzorni modul besedila v govor
Comment[sq]=Text-to-Speech Modul Kontrolli
Comment[sr]=Контролни модул за текст‑у‑говор
Comment[sr@ijekavian]=Контролни модул за текст‑у‑говор
Comment[sr@ijekavianlatin]=Kontrolni modul za tekst‑u‑govor
Comment[sr@latin]=Kontrolni modul za tekst‑u‑govor
Comment[sv]=Text-till-tal inställningsmodul
Comment[ta]=உரையில் இருந்து பேச்சு கட்டுப்பாட்டு பகுதி
Comment[tg]=Танзими таҳлили овоз
Comment[tr]=Metin Okuma Kontrol Modülü
Comment[ug]=تېكىستتىن ئاۋازغا تىزگىن بۆلىكى
Comment[uk]=Модуль керування синтезом мовлення з тексту
Comment[vi]=Mô đun Điều khiển Văn bản sang Tiếng nói
Comment[x-test]=xxText-to-Speech Control Modulexx
Comment[zh_CN]=语音合成(TTS)控制模块
Comment[zh_TW]=文字轉語音控制模組

NoDisplay=false
StartupNotify=false
StartupWMClass=

Categories=Qt;KDE;X-KDE-settings-accessibility;
X-KDE-Keywords=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice
X-KDE-Keywords[bg]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,говор,синтезатор,текст,четец
X-KDE-Keywords[ca]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,a,veu,pronunciació,sintetitzador,síntesi,festival,ordre,freetts,proklam,via,veu
X-KDE-Keywords[ca@valencia]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,a,veu,pronunciació,sintetitzador,síntesi,festival,orde,freetts,proklam,via,veu
X-KDE-Keywords[cs]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,do,mluvy,mluvit,syntéza,synth,festival,command,freetts,proklam,via,hlas
X-KDE-Keywords[da]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,til,tale,tal,synthesizer,synth,festival,kommando,freetts,proklam,via,stemme
X-KDE-Keywords[de]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,Sprachsynthese,Vorlesen,Sprache,Sprachausgabe
X-KDE-Keywords[el]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,κείμενο,σε,ομιλία,εκφώνηση,synthesizer,synth,festival,εντολή,freetts,proklam,μέσω,φωνή
X-KDE-Keywords[es]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto a voz,habla,sintetizador,sint,festival,orden,freetts,proklam,via,voice
X-KDE-Keywords[et]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,kõneks,kõne,süntesaator,festival,käsk,freetts,proklam,hääl
X-KDE-Keywords[fi]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,teksti,puheeksi,puhu,syntetisaattori,synteesi,festival,komento,freetts,proklam,puhe,puhesyntetisaattori
X-KDE-Keywords[ga]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,téacs,go,caint,abair,sintéiseoir,sintéis,festival,ordú,freetts,proklam,via,guth,glór
X-KDE-Keywords[hu]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,szöveg,fel,olvasás,beszéd,szintetizáló,szintetizálás,fesztivál,parancs,freetts,proklam,via,hang
X-KDE-Keywords[it]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,pronuncia,parlare,sintetizzatore,synth,festival,comando,freetts,proklam,via,voce
X-KDE-Keywords[kk]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice
X-KDE-Keywords[nb]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,til,tale,snakk,synthesizer,synth,festival,kommando,freetts,proklam,via,stemme
X-KDE-Keywords[nds]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,Vörleser,Stimm,Blicksnuut,Snacker,synth,festival,freetts,proklam,via
X-KDE-Keywords[nl]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,naar,spraak,spreken,synthesizer,synth,festival,commando,freetts,proklam,via,stem
X-KDE-Keywords[pl]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,tekst,na,mowę,speak,syntetyzer,synth,festival,polecenie,freetts,proklam,przez,głos
X-KDE-Keywords[pt]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto,para,fala,falar,sintetizador,festival,comando,freetts,proklam,via,voz
X-KDE-Keywords[pt_BR]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,texto,para fala,voz,sintetizador,sintetizar,festival,comando,freetts,proklam,via,voice
X-KDE-Keywords[sr]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,КТТСД,ТТС,текст,говор,синтетизатор,наредба,Фестивал,ФриТТС,Проклам,глас
X-KDE-Keywords[sr@ijekavian]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,КТТСД,ТТС,текст,говор,синтетизатор,наредба,Фестивал,ФриТТС,Проклам,глас
X-KDE-Keywords[sr@ijekavianlatin]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,KTTSD,TTS,tekst,govor,sintetizator,naredba,Festival,FreeTTS,Proklam,glas
X-KDE-Keywords[sr@latin]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,KTTSD,TTS,tekst,govor,sintetizator,naredba,Festival,FreeTTS,Proklam,glas
X-KDE-Keywords[sv]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,till,tal,läsa,syntes,synt,festival,kommando,freetts,proklam,via,röst
X-KDE-Keywords[uk]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,текст,синтез,вимова,виголошення,синтезатор,команда,голос,голосовий
X-KDE-Keywords[x-test]=xxkttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voicexx
X-KDE-Keywords[zh_CN]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice,语音,声音,命令,文本,说话,语音合成,合成,合成器
X-KDE-Keywords[zh_TW]=kttsd,kcmkttsmgr,kttsmgr,tts,ttsd,ktts,text,to,speech,speak,synthesizer,synth,festival,command,freetts,proklam,via,voice

X-KDE-SubstituteUID=false
Terminal=false
