[Desktop Entry]
Encoding=UTF-8
Name=Festival C/S
Name[pt_BR]=Cliente/Servidor Festival
Name[ru]=Festival - клиент/сервер
Name[sv]=Festival K/S
Name[ta]=பெஸ்டிவல் C/S
Name[uk]=Festival клієнт/сервер
Name[xx]=xxFestival C/Sxx
Comment=Festival speech synthesizer Client/Server
Comment[bg]=Синтезатор на глас клиент/сървър Festival
Comment[da]=Festival tale-synthesizer klient/server
Comment[de]=Festival Sprachsynthesizer Client/Server
Comment[es]=Sintetizador de texto a voz Festival Cliente/Servidor
Comment[et]=Kõnesüntesaatori Festival klient/server
Comment[fi]=Festival puhesyntetisaattorin asiakas/palvelin
Comment[fr]=Client / Serveur de synthèse vocale Festival
Comment[hu]=Festival beszédszintetizátor (kliens-szerver)
Comment[is]=Festival talgerfill biðlari/miðlari
Comment[it]=Client/Server del sintetizzatore vocale Festival
Comment[nl]=Festival spraaksynthesizer Client/Server
Comment[pt]=O sintetizador de fala cliente/servidor Festival
Comment[pt_BR]=Sistema cliente/servidor sintetizador de fala do Festival
Comment[ru]=Клиент/сервер к синтезатору речи Festival
Comment[sv]=Festival talsyntes klient/server
Comment[ta]=பெஸ்டிவல் பேச்சு கூட்டிணைப்பான் உறுப்பினர்/சேவகன்
Comment[uk]=Клієнт/сервер синтезатора мовлення Festival
Comment[xx]=xxFestival speech synthesizer Client/Serverxx
Type=Service
ServiceTypes=Proklam/SynthPlugin
X-KDE-Library=libkttsd_festivalcsplugin
X-KDE-Languages=en,en_US,en_GB,es,cy
